.login3{
	background: url('../images/login-bg.png') no-repeat;
	background-size: 100% 100%;
	font-size: 15px;
}
a{
	text-decoration: underline;
}
.img-sign01{
	width: 94px;
	display: block;
	padding-bottom:7px;
}
@media (max-width:640px){
.login .login01,.login .login02{
	font-size: 35px;
}
.login2-header{
	padding-right:30px;
}
}
.img-sign02{
	width:195px;
	padding: 0 0 29px 0;
}
.login-con{
	padding: 10px 32px 54px 32px;
}
.login-table{
	border-radius: 5px;
	overflow: hidden;
	width:100%;
	border: 1px solid #e3e3e3;
  background: white;
}
.login-table>p{
	border-bottom: 1px solid #e3e3e3;
	padding:15px;
}
input{
	color: #dadada;
}
.name{
	color:#7a530e;
	padding-right: 15px;
}
.name02{
	width:60%;
}
.login-table .codes{
	display:inline;
	padding-right: 0;
}
.input-phone{
	background:red;
	width:50%;
}
.phone-con{
    width: 66%;
}
.wrong-con{
	padding: 15px 0 10px 0;
	text-align: center;
}
.login3-btn{
	box-shadow: 0 2px 3px rgba(222,188,96,1);
	background: #ab8b51;
}
.agreement{
	width:100%;
	text-align:center;
	padding:12px 0 28px 0;
}
.agreement .icon-agree{
	color:#7a530e;
	font-size:20px;
}
.agreement .icon-agreeNO{
	color:#7a530e;
	font-size:25px;
}
.me-agree{
	position: relative;
  bottom: 2px;
  font-size:12px;
  color:#7a530e;
}
.have-user{
	text-align: center;
	font-size:14px;
}
.img-sign03{
	width:210px;
	padding-bottom: 29px;
}
.img-sign04{
	width:185px;
	padding-bottom: 29px;
}
