.activity{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background:#f8f8f8;
}
.activity-top{
	background: #fbce56;
	width: 100%;
}
.img-plane{
	width:44px;
	margin: 40px 70px 12px 0;
}
.activity-con{
	width:100%;
	position: relative;
}
.img-head01{
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: -40px;
    border-radius: 50%;
    z-index: 2;
    height: 65px;
    line-height: 65px;
    width: 65px;
    border: 2px solid white;
}
.setting-top{
	padding: 38px 0 19px 0;
	text-align:center;
	position: relative;
	border-bottom: 1px rgba(0,0,0,0.1);
	margin-bottom: 5px;
	background: #fff;
}
.setting-account{
	position: absolute;
  right: 0;
	top:32px;
	font-size: 13px;
	color:#f49603;
	border-radius: 50px 0 0 50px;
	border:1px solid #f49603;
	padding: 4px 23px 4px 7px;
	border-right: 0;
}
.setting-name{
	font-size:15px;
	color:#212121;
	font-weight: bold;
	width:100%;
}
.setting-brone{
	width:100%;
	font-size:11px;
	padding-bottom: 15px;
}
.img-brone{
	height: 14px;
  margin-top: 10px;
  position: relative;
  top: 2px;
  left: 6px;
  width: 33px;
	z-index: 1;
}
.rolls{
	display:inline;
	position: relative;
	width:100%;
	font-size:11px;
}
.setting-num{
	color: white;
	background:#fae6a5;
	text-align:center;
	padding:0 20px;
	height:11px;
	line-height: 11px;
  border-radius: 0 5px 5px 0;
}
.setting-ul{
	width:100%;
	font-size:17px;
}
.setting-ul>li{
	float: left;
	text-align:center;
	width:50%;
	border-right: 1px solid #f2f2f2;
	margin:3px 0;
}
.two{
	font-size:17px;
	color:#fca958;
}
.credit{
	font-size:14px;
	color:#b5b5b5;
}
.con-bottom{
	width:100%;
	padding:26px 25px 29px 25px;
}
.con-ul{
	width:100%;
}
.con-ul>li{
	float:left;
	text-align:center;
	width:33.3%;
	padding-bottom: 20px;
}
.con-ul .icon-active{
	font-size:0.6rem;
	display: block;
	color:#f6d874;
}
.orders{
	font-size:13px;
	display: block;
}
.act-btns{
	padding:30px;
	width:100%;
}
.act-btns>li{
	float:left;
	padding:14px 0;
	font-size:15px;
	text-align:center;
	color:white;
	width:49.3%;
	box-shadow: 0 3px 4px rgba(0,0,0,0.1);
	border-radius:6px;
}
/* 联盟商家升级 */
.upgrade{
	width:100%;
	font-size:13px;
	padding:5px 11px;
	color:#303030;
	border-bottom: 1px solid #f2f2f2;
	border-top: 1px solid #f2f2f2;
	margin-top: -5px;
	background: #fff;
}
.grade-num{
	color:#fca958;
	border:2px solid #fca958;
	padding:2px 9px;
	border-radius:23px;
}
/*回到房间 */
.room-btn{
	width:300px;
	background:#3c3c3d;
	font-size:15px;
	margin:30px auto;
	box-shadow: 0 3px 4px rgba(0,0,0,0.1);
}
/* 家长学生-账号资料 */
/* fu-body */
.fu-bottom{
	width:280px;
	background:white;
	text-align:center;
	border-radius:4px;
	position: absolute;
	left:50%;
	margin-left:-140px;
	top:50%;
	margin-top:-80px;
}
.fu-bottom p:nth-of-type(1){
	color:#212121;
	font-weight:bold;
	font-size:15px;
	padding:31px 0 18px 0;
}
.fu-bottom p:nth-of-type(2){
	color:#212121;
	font-size:13px;
	padding-bottom:18px;
}
.fu-ul{
	width:100%;
	text-align:center;
}
.fu-ul>li{
	float:left;
	width:50%;
	font-size:15px;
	padding:18px 0;
	border-top:1px solid #d2d3d5;
	border-right:1px solid #d2d3d5;
}
/* fu-body-获得奖牌 */
.fu-bottom02{
	position: absolute;
	left:50%;
	margin-left:-140px;
	top:50%;
	margin-top:-101px;
}
.fu-bottom02 .icon-guanbi{
	position: absolute;
  top: -3px;
  right: 5px;
  font-size: 25px;
	color:#ebebeb;
}
.img-gold{
	width:280px;
}
