.creatAct3-con{
	width: 100%;
	box-sizing: border-box;
	padding: 0.6rem 0.22rem 0 0.22rem;
}
.creatAct3-con input{
	padding: 0.3rem 0.2rem;
	font-size: 0.3rem;
	width:100%;
	background: #f2f2f2;
	color:#cfcfcf;
	border-radius: 0.08rem;
	border: 0.01rem solid #eeeeee;
}
.sweep-code{
	text-align: right;
	font-size: 0.3rem;
	padding-bottom: 1rem;
}
.sweep-code .icon-code{
	color: #fcd058;
	font-size:0.6rem;
	position: relative;
    top: 0.15rem;
}
.sweep-code span{
	color:#212121;
}
/* 口令不存在 */
.wordCommand{
	width:100%;
}
.wordCommand p:nth-of-type(1){
	position: relative;
    bottom: 0.35rem;
}
.wordCommand .icon-warn{
    color: #f43530;
    font-size: 0.35rem;
    display: inline;
}
.commandNo{
	font-size:0.3rem;
	color:#f43530;
	display: inline;
    position: relative;
    right: 0.2rem;
    bottom: 0.046rem;
}
