.header-top {
	width: 100%;
	background: #fcd058;
	text-align: center;
}

.icon-fanhui {
	color: #000000;
	font-size: 0.6rem;
	position: absolute;
	left: 0.2rem;
	bottom: 0.15rem;
}

.header-word {
	padding: 0.7rem 0 0.28rem 0;
	font-size: 0.32rem;
}

#footer {
	position: relative;
}

.footer {
	width: 100%;
	font-size: 0.32rem;
	background: white;
	height: 1.05rem;
	border-top: 0.01rem solid #eaeaea;
	box-shadow: 0 -0.02rem 0.04rem rgba(0, 0, 0, 0.1);
}

.footer>li {
	float: left;
}

.footer .date {
	padding: 0.21rem 0 0 0.22rem;
}

.footer button {
	color: white;
	background: #fca958;
	text-align: center;
	width: 100%;
	height: 1.05rem;
}

.promotion2-con {
	width: 100%;
}

.input-con {
	width: 100%;
	background: #efeff4;
	font-size: 0.26rem;
	padding: 0 0.14rem;
	position: relative;
	text-align: center;
}

.input-con input {
	margin: 0.15rem 0;
	padding: 0.16rem 0;
	background: white;
	color: #c7c7c7;
	text-align: center;
	border: 0.01rem solid #eaeaef;
	width: 100%;
	border-radius: 0.1rem;
	outline: none;
}

.input-con .icon-search {
	font-size: 0.32rem;
	color: #b2b2b2;
	position: absolute;
	top: 0.32rem;
	left: 2.3rem;
}

.ranking-con {
	width: 100%;
	border-top: 0.01rem solid #d6d6db;
}

.ranking-top {
	padding: 0.38rem 0.22rem 0.48rem 0.22rem;
}

.ranking-num1 {
	font-size: 0.3rem;
	padding-bottom: 0.3rem;
	color: #212121;
	font-weight: bold;
}

.ranking-num2 {
	font-size: 0.26rem;
	color: #303030;
}

.ranking-bottom {
	width: 100%;
}

.ranking-bottom h4 {
	font-size: 0.28rem;
	color: #757575;
	font-weight: normal;
	padding-bottom: 0.19rem;
	padding-left: 0.22rem;
}

.ranking-list {
	width: 100%;
	padding: 0.17rem 0.22rem;
	border-bottom: 0.01rem solid #e5e5e5;
}

.img-head02 {
	width: 0.98rem;
	height: 0.98rem;
	line-height: 0.98rem;
	overflow: hidden;
	border: 0.01rem solid #b4b4b4;
	border-radius: 0.06rem;
	margin-right: 0.19rem;
	text-align: center;
}

.list-left p:nth-of-type(1) {
	font-size: 0.34rem;
	color: #212121;
}

.list-left p:nth-of-type(2) {
	font-size: 0.28rem;
	color: #d2d2d2;
}

.list-right {
	font-size: 0.3rem;
	color: #fca958;
	padding-top: 0.3rem;
}
/* 活动房间 */

.drop-out {
	border-top: 0.01rem solid #e4e4e4;
	font-size: 0.32rem;
	padding: 0.34rem 0.22rem;
	width: 100%;
	z-index: 2;
	background: white;
}

.drop-out label {
	color: #fca958;
}

.drop-out span:nth-of-type(1) {
	color: #757575;
}

.drop-out button {
	color: #fca958;
}
/* 活动排名-选择完成 */

.ranking-con .icon-right {
	font-size: 0.22rem;
	color: #1cc01a;
	position: relative;
	top: 0.3rem;
}
/* 活动排名-选择排名 fu-body */

.search-con {
	border-top: 0.01rem solid #d6d6db;
	background: white;
	width: 100%;
	font-size: 0.28rem;
}

.fu-body input {
	font-size: 0.26rem;
}

.search-name {
	border-bottom: 0.01rem solid #d6d6db;
	padding: 0.31rem 0 0.31rem 0.3rem;
}

.search-name span {
	padding-left: 0.38rem;
	color: #c6c6c6;
}

.fu-body .fu-input {
	padding: 0 0.2rem 0 0.14rem;
}

.fu-cancel {
	display: inline;
	color: #fca958;
	font-size: 0.32rem;
	width: 10%;
	text-align: right;
	position: relative;
	top: 0.2rem;
}

.fu-body .fu-input .icon-search {
	left: 0.33rem;
}

.fu-body input {
	padding-left: 0.58rem;
	color: #212121;
}

.header {
	position: relative;
}

.fixed-body{
	width: 100%;
	height: calc(100% - 2.35rem);
	position: absolute;
	top: 2.35rem;
	left: 0;
	z-index: 30;
	background: rgba(0,0,0,0.4);
	overflow: auto;
}
