.actMsg-con{
	width: 100%;
	box-sizing: border-box;
	padding-bottom:1.35rem;
}
.actMsg-top{
	width: 100%;
	box-sizing: border-box;
}
.img-con{
	width: 100%;
	box-sizing: border-box;
	font-size: 0.3rem;
	color: white;
	position: relative;
}
.img-con img{
	width: 100%;
	display: block;
}
.font-hiden{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.21rem 0.23rem;
	background: rgba(0,0,0,0.6);
}
.company-con{
	width: 100%;
	box-sizing: border-box;
	font-size: 0.26rem;
	padding:0.24rem 0.22rem;
	border: 0.01rem solid #d2d3d5;
}
.company-con img{
	display: block;
	position: relative;
	bottom:0.1rem;
	padding-right: 0.2rem;
}
.infors span{
	display:block;
	color: #212121;
}
.infors span:nth-of-type(1){
	font-size: 0.24rem;
	color:#818181;
}
.company-con .watch{
	display: block;
	width: 1.02rem;
	background:#fca958;
	color:white;
	text-align: center;
	padding: 0.08rem 0;
	border: 0.01rem solid #cf8033;
	border-radius: 0.21rem;
	position: relative;
	top:0.06rem;
}
.actMsg-bottom{
	width: 100%;
	box-sizing: border-box;
}
.activity-con{
	width: 100%;
	box-sizing: border-box;
	font-size: 0.26rem;
	padding:0.2rem 0.22rem 0.1rem 0.22rem;
	border-bottom: 0.01rem solid #d2d3d5;
	color:#3c3c3c;
}
.msg-top .line{
	height: 0.2rem;
	width: 0.04rem;
	background:#fcd058;
	margin-right:0.1rem;
	position: relative;
	top:0.09rem;
}
.msg-top h6{
	font-size: 0.28rem;
	color:#212121;
	padding-bottom: 0.2rem;
}
.msg-bottom p{
	padding-bottom:0.16rem;
}
.max-img{
	height: 2.8rem;
	text-align:center;
	line-height: 2.8rem;
	font-size: 0.26rem;
	width: 100%;
	background:#d3d3d3;
	margin-bottom:0.16rem;
}