.enter{
	padding-bottom:60px;
}
.enter-header{
	width: 100%;
	text-align: center;
	background: #fcd058;
}
.enter-header h5{
	padding: 15px;
	font-size: 16px;
}
.enter-con{
	width: 100%;
}
.enter-ul{
	width: 100%;
	text-align:center;
	font-size: 14px;
	background:white;
	margin-bottom:1px;
}
.enter-ul>li{
	float: left;
	width:50%;
	padding:14px 0;
}
.addColor{
	color: #fca958;
	border-bottom: 2px solid #fca958;
}
.slide-pic1{
	width:100%;
	height: 100%;
	display: block;
}
.enter-news{
	width: 100%;
	background:white;
	margin-bottom: 2px;
}
.news-con{
	width: 100%;
	padding:13px 11px;
	position: relative;
}
.img-pic08{
	width:55px;
	height:55px;
	border-radius: 2px;
	background:#bbbaba;
}
.img-pic08 img{
  display: block;
	width: 100%;
}
.content {
	padding: 0 10px;
}
.content h6{
	color:#212121;
	font-size: 14px;
	padding-bottom: 5px;
}
.sites{
	font-size: 12px;
	color:#cfcfcf;
}
.peoples{
	position: absolute;
	bottom: 13px;
	right: 11px;
}
