.homePage{
	width: 100%;
	box-sizing: border-box;
}
.header-msg{
	background:url('../image/bg02.png') no-repeat;
	background-size: 100% 100%;
}
.msg-con{
	color:#212121;
	font-size: 12px;
	padding: 5px 10px 20px 16px;
	position: relative;
	overflow: hidden;
}
	.msg-pic{
	width:60px;
	height: 60px;
	line-height: 60px;
	background:white;
	border-radius: 50%;
	float: left;
}
.msg-name{
	padding: 10px 10px 0 10px;
	float:left;
}
.rank{
	font-size: 14px;
	display:block;
    padding-bottom: 10px;
}
.rank label{
	font-size: 12px;
	padding-left: 5px;
}
.follower{
	font-size: 12px;
}
.watchs{
	width:55px;
	background:#3c3c3d;
	color:white;
	border-radius:2px;
	position: absolute;
	right: 10px;
	bottom: 20px;
	text-align: center;
}
.watchs span{
		padding:7px 0;
		font-size: 13px;
    position: relative;
    right:3px;
}
.watchs .icon-add{
	font-size: 20px;
	color:white;
  position: relative;
  top: 2px;
}
.homePage-con{
	width: 100%;
}
.publish-con{
	background: white;
	height: 40px;
	line-height: 40px;
	margin-bottom: 2px;
	padding:0 10px;
	overflow: hidden;
}
.publish-con .icon-flane{
		font-size: 25px;
		color:#212121;
		float: left;
}
.publish-con h5{
	font-size: 13px;
	color:#212121;
	float: left;
	padding-left: 10px;
}
.publish-contents{
	background: white;
	margin-bottom: 2px;
	padding:8px 10px;
}
.publish-contents h6{
	font-size: 12px;
	color:#bdbdbd;
	padding-bottom:10px;
}
.publish-contents p{
	font-size: 13px;
	color:#212121;
	line-height:18px;
}
.publish-ul{
	padding: 10px 60px 0 0;
}
.publish-ul>li{
	float: left;
	width:55px;
	height:55px;
	background:#02a685;
	margin: 0 2px 2px 0;
}
