.address-con{
	width: 100%;
	margin-bottom:5px;
}
.address1-con{
	padding: 0 10px;
	background: white;
}
.address1-top{
	font-size: 13px;
	color: #212121;
	padding:20px 0 11px 0;
}
.adds{
	font-size: 12px;
	color:#a1a1a1;
	line-height: 17px;
	padding-bottom: 3px;
	margin-bottom: 1px;
}
.adds label{
	color:#fca958;
}
.edit-con{
		font-size: 12px;
		color:#a1a1a1;
		padding: 9px 0;
   	padding:9px 10px 9px 10px;
   	background: white;
   	margin-bottom:5px;
}
.edit-left span{
  	position: relative;
    bottom: 3px;
}
.right-con{
	display: inline;
}
.edit-right .icon-edit{
	font-size: 22px;
	color:#757575;
}
