.address-con{
	width: 100%;
	box-sizing: border-box;
	margin-bottom:0.1rem;
}
.address1-con{
	width: 100%;
	padding: 0 0.22rem;
	background: white;
}
.address1-top{
	width: 100%;
	font-size: 0.26rem;
	color: #212121;
	padding:0.4rem 0 0.23rem 0;
}
.adds{
	font-size: 0.22rem;
	color:#a1a1a1;
	line-height: 0.34rem;
	padding-bottom: 0.06rem;
	margin-bottom: 0.02rem;
}
.adds label{
	color:#fca958;
}
.edit-con{
	font-size: 0.24rem;
	color:#a1a1a1;
	padding: 0.18rem 0;
   	padding:0.18rem 0.22rem 0.18rem 0.22rem;
   	background: white;
   	margin-bottom:0.1rem;
}
.edit-left span{
	position: relative;
    bottom: 0.07rem;
}
.right-con{
	display: inline;
}
.edit-right .icon-edit{
	font-size: 0.45rem;
	color:#757575;
}