.order-con{
	background:white;
}
.order-top{
	padding: 13px 11px 11px 11px;
	border-bottom: 1px solid #f2f2f2;
	position: relative;
}
.order-top .icon-more{
	font-size: 13px;
	color:#c8c8c8;
	position: absolute;
	right:11px;
	top: 31px;
}
.order-top p{
	font-size: 13px;
}
.order-top .adds{
	color: #212121;
	line-height: 13px;
	padding:0 10px 5px 0;
}
.order-top .time{
	font-size: 11px;
	color: #a1a1a1;
}
.order-bottom{

	font-size: 13px;
	color:#757575;
	margin-bottom: 1px;
	padding:11px 11px 15px 11px;
}
.order-bottom h6{
	font-size: 13px;
	padding-bottom:8px;
}
.order-bottom h6 span{
	color:#fedfc7;
}
.order-bottom p{
	padding-bottom:8px;
}
.order-bottom span{
	color:#949494;
}
.order-bottom .buy-btn{
	padding-bottom:0;
}
.buy-btn button{
  width:100%;
	font-size: 13px;
	background: #fca958;
	color:white;
	text-align: center;
	padding:10px 0;
	border-radius: 3px;
	margin: 10px 0;
}
.order-bottom .buy-news{
	padding-bottom:0;
	font-size: 12px;
	color:#fca958;
	text-align:center;
	padding: 6px 0;
}
.number-con{

	font-size: 13px;
	color:#212121;
	margin-bottom: 1px;
	padding:10px 11px 1px 11px;
	background:white;
}
.number-con p{
	padding-bottom:6px;
}
.num-adds{
	width: 78%;
}
.paper{
	position: absolute;
	right: 11px;
	bottom: 10px;
}
.apply{
	padding: 10px 11px;
	color:#636ee3;
	font-size: 13px;
	float: right;
}
.touch-btn{
	padding: 10px 15px 20px 15px;
}
.touch-btn button{
	width: 100%;
	padding: 10px 0;
	font-size: 15px;
	border: 1px solid #e49649;
	background:white;
	color:#e49649;
	text-align:center;
	border-radius:3px;
}
/* fu-body */
.fu-num{
	width: 300px;
	background:white;
	font-size: 16px;
	border-radius:2px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -55px;
	padding:0 30px;
}
.fu-num h4{
	color:#212121;
	text-align:center;
	padding:20px 0 30px;
}
.fu-num input{
	color:#a1a1a1;
	padding-bottom:5px;
	margin-bottom:30px;
	font-size: 15px;
	border-bottom:1px solid #4c5be5;
}
.num-buts{
	text-align:right;
	padding-bottom:16px;
}
.num-buts button:nth-of-type(2){
	color:#4c5be5;
	padding-left:20px;
}
