.homePage-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}
.delivery-top{
	width: 100%;
	box-sizing: border-box;
	z-index: 3;
}
.delivery-con{
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	background:#ffb300;
	padding: 8px 13px 13px 13px;
}
.car{
	width: 51px;
	height: 51px;
	border-radius: 50%;
	background: #212121;
	border: 1px solid #fee5a2;
}
.odd-nums{
	color: #212121;
	padding: 5px 0 0 9px;
}
.odd-nums span{
	display: block;
}
.odd-nums span:nth-of-type(1){
	font-size: 14px;
  padding-bottom: 5px;
}
.delivery-con .icon-car{
	  color:white;
    font-size: 35px;
    position: relative;
    left: 5px;
    top: 4px;
}
.logistics-con{
	width: 100%;
	box-sizing:border-box;
	margin-bottom: 1px;
	background:white;
	font-size: 12px;
}
.delivery-top h6{
	width: 100%;
	box-sizing:border-box;
	background:white;
	font-size: 12px;
	padding:10px 12px;
	position: relative;
  bottom: 1px;
}
.delivery-bottom{
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	background:white;
	padding-top: 15px;
	overflow: hidden;
}
.details-con{
	margin:0 12px;
	padding-left: 12px;
	min-height: 70px;
	border-left: 1px solid #ccc;
	position: relative;
}
.details-con:last-child{
	min-height: 0;
}
.details-con:last-child .delivery-right p:last-child{
		padding-bottom: 15px;
}
.dots{
	height: 10px;
	width: 10px;
	background:#ccc;
	border-radius:50%;
	z-index:3;
	position: absolute;
	top: 0;
	left:-5px;
}

.delivery-right p{
		padding-bottom: 5px;
}

.details-con:first-child .adds{
	color:#fca958;
}
.details-con:first-child .dots{
	background:#fca958;
}
