.goods2-con{
	padding-bottom:5px;
}
.addAdress-con{

	background: white;
	box-sizing: border-box;
	padding: 22px 11px 28px 11px;
}
.addAdress-top{

	padding:0 28px 12px 28px;
}
.addAdress-top span{
	font-size: 14px;
	color: #212121;
	width:50%;
}
.addres-msg{
	position: relative;
}
.addres-msg .icon-location{
	font-size: 25px;
	color:#999999;
	position: absolute;
	left: 0;
	top: 0;
}
.goods-addres{
	color:#656565;
	font-size: 13px;
	line-height: 25px;
	padding:0 28px;
}
.addres-msg .icon-more{
	font-size: 17px;
	color:#999999;
	position: absolute;
	right: 0;
	top: 7px;
}
.goods2-con img{
	display: block;
	width:100%;
}
.free-con{

	font-size: 14px;
	padding:19px 11px 21px 11px;
}
.circle{
	width: 75px;
	height: 75px;
	background:#c3c3c3;
	border-radius: 2px;
}
.free-right{
	padding-left: 10px;
	width: calc(100% - 85px);
}
.free-right h6{
	font-size: 14px;
	line-height: 18px;
}
.chicken{
	color:#b1b1b1;
	margin-bottom: 5px;
}
.free-right .credit{
	color:#626262;
	font-size: 13px;
}
.credit label{
	color:#fca958;
}
.num-con{
	padding: 6px 11px 6px 12px;
	background:white;
	margin-bottom: 1px;
}
.num-con span{
	font-size: 13px;
	line-height: 25px;
}
.num-ul{
	font-size: 14px;
	text-align: center;
}
.num-ul>li{
	float: left;
	width:33px;
	height: 25px;
	border:1px solid #eeeeee;
	line-height:25px;
}
.num-ul li:nth-child(2){
	border-left: none;
	border-right: none;
}
.one{
	color:#cccccc;
	border-radius:5px 0 0 5px;
}
.num-ul .two{
	width: 43px;
}
.three{
	color:#212121;
	border-radius:0 5px 5px 0;
}
.way-con{
	padding:14px 11px;
	font-size: 13px;
	background:white;
	margin-bottom:1px;
}
.way-con .express{
	font-size: 12px;
}
.way-con .icon-more{
	font-size: 12px;
}
.leaveMsg-con{

	background:white;
	margin-bottom:6px;
	font-size: 13px;
	padding:0 10px;
	height: 45px;
	line-height: 45px;
}
.leaveMsg-con span{
	color:#212121;
	display: block;
}

.wechat-con{
	padding:11px 11px;
	font-size: 13px;
	background:white;
	margin-bottom:1px;
}
.wechat-pay2{
	position: relative;
    right: 10px;
}
.wechat-pay span{
	color:#212121;
    position: relative;
    bottom: 4px;
    right: 5px;
}
.wechat-pay .icon-wechat{
	font-size: 25px;
	color:#58b64b;
}
.money span{
	color:#58b64b;
    position: relative;
    bottom: 2px;
    right: 2px;
		line-height: 30px;
}
.money .icon-xuanzhongon{
	font-size: 20px;
	color:#ccc;
}
.wechat-pay .icon-learn{
		font-size: 32px;
		color:#fca958;
    position: relative;
    right: 5px;
}
.learn-pay span:nth-of-type(1){
	font-size: 13px;
	display:block;
}
.learn-pay span:nth-of-type(2){
	font-size: 11px;
	color:#757575;
}
.learn-pay label{
	color:#fcb068;
}
/* fu-body */
.fu-delivery{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 3;
	font-size: 13px;
	background:white;
	width: 100%;
}
.fu-delivery h6{
	font-size: 13px;
	color:#fca958;
	padding: 11px;
}
.code-con{
	width:100%;
	padding:11px;
	font-size: 13px;
	}


.code-con span{
	color:#212121;
}
.code-con .icon-check{
	color:#fca958;
	font-size: 25px;
}
.sure-btn{
	padding: 150px 11px 13px 11px;
}
.sure-btn button{
	background:#fca958;
	color:white;
	text-align:center;
	border: 1px solid #e98e36;
	box-shadow:0 2px 3px rgba(0,0,0,0.1);
	padding:13px 0;
	width: 100%;
	border-radius:3px;
}
/* 兑换成功 */
.goodSuccess-con{
	background:white;
	height:100%;
	width: 100%;
}
.convert-con{
	padding:0 0.150px;
	text-align:center;
}
.convert-con span{
	padding-top: 45px;
}
.convert-con .icon-checktop{
	padding-top: 45px;
	color:#fcd058;
	font-size: 60px;
}
.convert-con h3{
	padding-bottom: 0.150px;
	font-size: 18px;
}
.convert-con h6{
	padding: 10px 0;
	font-size: 12px;
	color:#cfcfcf;
}
.convert-con .times{
	padding-bottom: 80px;
	font-size: 12px;
	color:#cfcfcf;
}
.check-btns{
	padding:0 15px;
	font-size: 18px;
}
.check-btns button{
	padding:13px 0;
	width: 100%;
	color:white;
	text-align:center;
	border-radius:4px;
	box-shadow:0 2px 3px rgba(0,0,0,0.1);
}
.check-btns button:nth-of-type(1){
	background:#fcd058;
	margin-bottom:16px;
}
.check-btns button:nth-of-type(2){
	background:#fca958;
}
