.homePage-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
}
.delivery-top{
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
    margin-top: 1.4rem;
}
.delivery-con{
	width: 100%;
	box-sizing: border-box;
	font-size: 0.24rem;
	background:#fcd058;
	padding: 0.16rem 0.26rem 0.26rem 0.26rem;
}
.car{
	width: 1.03rem;
	height: 1.03rem;
	border-radius: 50%;
	background: #212121;
	border: 0.02rem solid #fee5a2;
}
.odd-nums{
	color: #212121;
	padding: 0.18rem 0 0 0.18rem;
}
.odd-nums span{
	display: block;
}
.odd-nums span:nth-of-type(1){
	font-size: 0.28rem;
    padding-bottom: 0.1rem;
}
.delivery-con .icon-car{
	color:white;
    font-size: 0.7rem;
    position: relative;
    left: 0.1rem;
    top: 0.08rem;
}
.logistics-con{
	width: 100%;
	box-sizing:border-box;
	margin-bottom: 0.02rem;
	background:white;
	font-size: 0.24rem;
}
.delivery-top h6{
	width: 100%;
	box-sizing:border-box;
	background:white;
	font-size: 0.24rem;
	padding:0.2rem 0.24rem;
	position: relative;
    bottom: 0.04rem;
}
.delivery-bottom{
	width: 100%;
	box-sizing: border-box;
	font-size: 0.24rem;
	background:white;
    margin-top: 3.64rem;
}
.details-con{
	width: 100%;
	box-sizing: border-box;
	padding:0 0.43rem 0 0.22rem;
}
.delivery-left{
	padding-right: 0.2rem;
	height:100%;
	position: relative;
}
.dots{
	height: 0.2rem;
	width: 0.2rem;
	background:#cccccc;
	border-radius:50%;
	z-index:3;
}
.rates{
	width: 0.02rem;
	height: 1.52rem;
	background:#cccccc;
	position: absolute;
	top:0.2rem;
	left:0.1rem;
}
.delivery-right{
    width: 90%;
    padding-bottom:0.55rem;
}
.delivery-right .adds{
    padding-bottom:0.06rem;
}
.details-con .add-fontColor{
	color:#fca958;
}
.details-con .add-bgColor{
	background:#fca958;
}
