.order-ul{
	width: 100%;
	font-size: 14px;
	background:white;
}
.order-ul>li{
	width: 33.3%;
	float: left;
	padding: 14px 0 14px 0;
	text-align: center;
	border-bottom: 1px solid #dadada;
}
.order-ul .add-borderColor{
	color: #fca958;
	border-bottom: 1px solid #fca958;
}
.sign-con{
	color:#757575;
	width: 100%;
	background:white;
	font-size: 14px;
	padding: 14px 10px;
	border-bottom: 1px solid #dadada;
}
.sign-con label{
	color:#212121;
}
.dispich-con{
	width: 100%;
}
.taste-con2{
	padding-bottom:22px;
}
.purchase-con{
	width: 100%;
}
.purchase-top{
	width: 100%;
	color:#212121;
	font-size: 12px;
	position: relative;
	padding:10px;
	background:white;
}
.purchase-top .adds{
    width: 92%;
    line-height: 18px;
    padding-bottom:5px;
}
.purchase-top .time{
	color:#8c8c8c;
	font-size: 10px;
}
.purchase-top .icon-more{
	color:#999999;
	font-size: 17px;
	position: absolute;
	right: 10px;
	top: 15px;
}
.sure{
	color:white;
	background: #fca958;
	font-size: 13px;
	text-align:center;
	padding: 8px 0;
	border:1px solid #f59b4c;
	border-radius: 2px;
	width: 64px;
	position: absolute;
	bottom: 10px;
	right:11px;
}
