.order-ul{
	width: 100%;
	font-size: 0.28rem;
	background:white;
}
.order-ul>li{
	width: 33.3%;
	float: left;
	padding: 0.29rem 0 0.28rem 0;
	text-align: center;
	border-bottom: 0.01rem solid #dadada;
}
.order-ul .add-borderColor{
	color: #fca958;
	border-bottom: 0.02rem solid #fca958;
}
.sign-con{
	color:#757575;
	width: 100%;
	background:white;
	font-size: 0.28rem;
	padding: 0.28rem 0.22rem;
	border-bottom: 0.01rem solid #dadada;
}
.sign-con label{
	color:#212121;
}
.dispich-con{
	width: 100%;
}
.taste-con2{
	padding-bottom:0.45rem;
}
.purchase-con{
	width: 100%;
}
.purchase-top{
	width: 100%;
	color:#212121;
	font-size: 0.24rem;
	position: relative;
	padding:0.2rem 0.22rem;
	background:white;
}
.purchase-top .adds{
    width: 92%;
    line-height: 0.36rem;
    padding-bottom:0.1rem;
}
.purchase-top .time{
	color:#8c8c8c;
	font-size: 0.2rem;
}
.purchase-top .icon-more{
	color:#999999;
	font-size: 0.35rem;
	position: absolute;
	right: 0.2rem;
	top: 0.3rem;
}
.sure{
	color:white;
	background: #fca958;
	font-size: 0.26rem;
	text-align:center;
	padding: 0.15rem 0;
	border:0.01rem solid #f59b4c;
	border-radius: 0.04rem;
	width: 1.28rem;
	position: absolute;
	bottom: 0.2rem;
	right:0.22rem;
}
