.account2-con{
	width: 100%;
	box-sizing: border-box;
	background:white;
}
.office-con{
	width: 100%;
	padding: 15px 11px;
	color: #212121;
	font-size: 15px;
	border-bottom: 1px solid #eaeaea;
}
.office-con input{
	color: #dadada;
	padding-left: 25px;
}
.license-con{
	padding:15px 11px;
	color: #212121;
	font-size: 15px;
	border-bottom: 1px solid #eaeaea;
}
.license-con .icon-license{
	font-size: 60px;
	color:#cccccc;
}
.license-con span{
    position: relative;
    bottom: 20px;
}
@media (max-width:640px){
.account2 .read-con{
	  position: absolute;
    bottom: 50px;
}
}
@media (max-width:640px){
body .account2 .read-con3{
    position: static;
    margin: 30px 0 30px 0;
}
}
.read-con{
	width: 100%;
	padding:0 15px 0 15px;
	color: #b0b0b0;
	font-size: 13px;
  margin-top: 32px;
}
.read-con .icon-square{
	  font-size: 20px;
    padding-left: 5px;
}
.read-top{
	position: relative;
}
.read-top .icon-right{
   	position: absolute;
    color: red;
    font-size: 50px;
	  left: 18px;
    top:7px;
}
.agree{
    position: relative;
    right: 5px;
    top: 1px;
}
.save-btn{
	padding:0 15px;
	font-size: 18px;
	margin-top: 5px;
}
.save-btn button{
	padding: 13px 0;
	color:white;
	background: #fca958;
	border-radius: 5px;
	border: 1px solid #e8923f;
	text-align: center;
	width: 100%;
}
/* 家长信息 */
.parent-con{
	width:100%;
	box-sizing:border-box;
	font-size: 15px;
	color:#212121;
	padding: 0 11px;
	background:white;
	border-bottom:1px solid #e7e7e7;
}
.parent-con h6{
	font-size: 14px;
	color:#aaaaaa;
	padding:8px 0;
}
.sex-con{
	padding:10px 11px;
	font-size: 15px;
	color:#212121;
	background:white;
}
.circle{
	width: 23px;
	height: 23px;
	border-radius:50%;
	background:#e1e1e1;
	border: 1px solid #cdcdcd;
}
.circle2{
    position: relative;
    bottom: 2px;
}
.girls{
    position: relative;
    bottom: 7px;
}
.sex-con .icon-right{
    position: relative;
    left: 5px;
    color:white;
}
.add-bgColor{
	background:#fca958;
}
