.earnings-con{
	width: 100%;
	box-sizing: border-box;
}
.earnings-top{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.credit-con{
	width: 100%;
	background: white;
	border-bottom: 1px solid #757575;
	padding: 14px 11px;
	font-size: 14px;
	color: #757575;
	position: relative;
}
.credit-con .icon-up{
	  font-size: 22px;
	  color: #757575;
    position: relative;
    right: 12px;
}
.credit-con1 span{
    position: relative;
    bottom: 2px;
    right: 20px;
}
.credit-two{
	color:#fca958;
}
.money{
	color:#4c5be5;
}
.cashs{
	position: absolute;
	right: 11px;
	bottom:8px;
	font-size: 15px;
	color:white;
	background:#fca958;
	padding:7px 0;
	width: 70px;
	text-align: center;
	border-radius: 4px;
}
.earn-con{
	width: 100%;
	box-sizing: border-box;
	background:white;
	color:#8c8c8c;
	font-size: 12px;
}
.earn-con h6{
	font-size: 12px;
	padding:10px 12px;
}
.credit-week{
	width: 100%;
	box-sizing: border-box;
	text-align:center;
	padding:23px 0 29px 0;
	position: relative;
}
.fives{
	color:#fca958;
	font-size: 16px;
}
.fives label{
	font-size: 21px;
}
.tens{
	color:#4c5be5;
	font-size: 16px;
}
.tens label{
	font-size: 21px;
}
.credit-week .dates{
	padding-top: 15px;
}
.credit-week .backs{
	height: 22px;
	width: 22px;
	background:#fca958;
	border-radius:50%;
	text-align:center;
	color:white;
	position: absolute;
	left: 41px;
	bottom:50px;
}
.credit-week .icon-return1{
	font-size: 17px;
	position:relative;
	top:1px;
	right:1px;
}
.earn-con .credit-week .backs2{
	right: 41px;
	bottom:50px;
}
.credit-week .backs2{
	height: 22px;
	width: 22px;
	background:#fca958;
	border-radius:50%;
	text-align:center;
	color:white;
	position: absolute;
	right: 41px;
	bottom:50px;
}
.earnings-bottom{
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
}
.earnings-bottom h6{
	font-size: 14px;
	padding: 12px 11px;
	color:#b1b1b1;
}
.flower-con{
	width: 100%;
	color:#a1a1a1;
	box-sizing: border-box;
	padding:10px 11px 11px 11px;
	border-bottom:1px solid #d2d3d5;
	background:white;
}
.flower-con span{
	display: block;
}
.flow-earn{
	color:#212121;
	padding-bottom: 10px;
	text-align:right;
}
.last-money{
	font-size: 12px;
}
.flower-con .flow-earn1{
	text-align:left;
}
