.earnings3-con{
	width: 100%;
	box-sizing: border-box;
}
.earnings3-top{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background: white;
	font-size: 15px;
}
.img-money1{
	padding: 42px 0 38px 0;
}
.earnings3-top p{
	color: #4a4745;
	padding-bottom: 46px;
}
