.performance-con{
	width: 100%;
	box-sizing: border-box;
}
.performance-bottom{
	width: 100%;
	box-sizing: border-box;
	font-size: 15px;
	color: #212121;
}
.performance-bottom h6{
	width: 100%;
	font-size: 13px;
	color: #757575;
	padding: 10px 11px;
}
.detils-con{
	width: 100%;
	box-sizing: border-box;
	font-size: 15px;
	color: #212121;
	background:white;
	padding: 16px 11px;
	border-bottom:1px solid #ccc;
}
.detils-con .icon-more{
	font-size: 15px;
	color: #999999;
}
