body{
	height: 0;
}
.homePage-header{
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 3;
}
.startAct4-con{
	  width: 100%;
	  box-sizing: border-box;
    margin-top: 150px;
}
.credit-con{
	padding:16px 11px 12px 11px;
	position: fixed;
	left: 0;
  top: 72px;
	width:100%;
	z-index: 3;
	background:white;
}
.credit-left p{
	font-size: 14px;
	color: #212121;
	padding-bottom: 5px;
}
.credit-left label{
	color: #fca958;
}
.credit-left .golds{
	font-size: 13px;
	color: #212121;
}
.exchange{
	width:15%;
	padding:6px 0;
	border:1px solid #dc8835;
	background: #fca958;
	color:white;
	font-size: 16px;
	text-align: center;
	border-radius: 3px;
}
.share-con{
	width: 100%;
	box-sizing:border-box;
	background:white;
	padding:10px 11px;
	border-bottom: 1px solid #d2d3d5;
}
.share{
	font-size: 13px;
	color:#525252;
	padding-bottom:13px;
}
.times{
	font-size: 12px;
	color:#cfcfcf;
}
.share-right p:nth-of-type(1){
	font-size: 13px;
	color:#fca958;
	padding-bottom:13px;
	text-align:right;
}
.share-right p.on{
	color: #4c5be5;
}
