.salves-con{
	width: 100%;
	box-sizing: border-box;
	background: white;
	font-size: 16px;
	padding: 15px 11px 25px 10px;
	margin-bottom: 5px;
}
.salves-left h4{
		color: #212121;
		display: inline;
		font-size: 16px;
    position: relative;
    bottom: 4px;
}
.two{
	color:#fca958;
	position: relative;
	top:4px;
}
.salves-num1{
	padding: 10px 11px 10px 11px;
	border-bottom: 1px solid #d2d3d5;
	background:white;
}
.num1-left{
	width:55%;
}
.num1-right{
	width:45%;
}
.salves-left .icon-sale{
	color: #cccccc;
	font-size: 30px;
}
.num1-left .one1{
	text-align: left;
	color:#212121;
}
.one{
	font-size: 13px;
	padding-bottom: 12px;
	text-align: right;
}
.times{
	font-size: 12px;
	color:#b4b4b4;
}
