.startAct3-con{
	width: 100%;
	box-sizing: border-box;
}
.grade-con{
	text-align: center;
	position: relative;
	background: white;
	margin-bottom: 5px;
	padding: 20px;
}
.startAct3-con img{
	width: 100%;
	display: block;
}
.startAct3-con span{
position: absolute;
    left: 50%;
    margin-left: -15px;
    font-size: 13px;
    color: #fca958;
    top: 50%;
    margin-top: -10px;
    font-weight: bold;
}
.startAct3-con label{
	font-size: 30px;
}
.startAct3-con p{
	font-size: 11px;
	padding: 10px 0 25px 0;
}
.credit-con{
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	background:white;
	font-size: 14px;
}
.credit-con h6{
	font-size: 12px;
	color:#bdbdbd;
	padding-bottom: 16px;
}
.credit-con label{
	font-size: 18px;
	color:#fca958;
}
table{
	width:100%;
	font-size: 14px;
	border:1px solid #d2d3d5;
	border-radius: 1px;
	overflow: hidden;
	text-align:center;
	border-collapse: collapse;
}
thead{
	background:#f4f4f4;
}
th{
	padding:11px 0;
}
tr{
	border:1px solid #d2d3d5;
}
td{
	padding:13px 0;
}
