.startAct5-con{
	width: 100%;
	box-sizing: border-box;
	padding: 0 11px 81px 11px;
}
.money-con{
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 10px;
	font-size: 13px;
	color: #757575;
}
.money-con span{
    position: relative;
    bottom: 5px;
}
.money-con label{
	color: #212121;
}
.money-con .icon-xue{
	color: #fca958;
	font-size: 25px;
}
.exchange-con{
	width: 100%;
	box-sizing:border-box;
}
.exchange-con h6{
	font-size: 13px;
	color:#8b8b8b;
	padding:0 10px 12px 10px;
}
.agreen-con{
	padding:0 10px;
}
.pay-btn button{
	width: 100%;
	background: #fca958;
	color:white;
	border-radius:3px;
	padding: 13px 0;
	font-size: 18px;
	text-align:center;
	margin-bottom:11px;
	box-shadow:0 2px 3px rgba(0,0,0,0.1);
}
.agreens{
	font-size: 11px;
	color:#757575;
	text-align:center;
}
.agreens .icon-check{
	font-size: 22px;
	color:#fca958;
}
.agreens span{
	position: relative;
	bottom:4px;
	left: 2px;
}
.agreens label{
	color:#fca958;
}
/* success5-con */
.success5{
	height:100%;
	width: 100%;
	background:white;
}
.success5-con{
	width: 100%;
	padding-top:70px;
	text-align:center;
}
.sucess-right{
	width:88px;
	height: 88px;
	line-height: 80px;
	background:#fca958;
	color:white;
	border-radius:50%;
	text-align: center;
	margin:0 auto;
}
.sucess-right .icon-right{
	font-size: 35px;
}
.ex-success{
	font-size: 16px;
	color:#212121;
	padding-top: 27px;
	padding-bottom: 10px;
}
.ex-money{
	font-size: 14px;
	color:#757575;
	padding-bottom:65px;
}
.ex-btns{
	font-size: 18px;
	padding: 0 15px 0 15px;
	text-align:center;
}
.ex-btns button{
	width: 100%;
	display:block;
	color:white;
	background:#fca958;
	padding:14px 0;
	border-radius:5px;
	box-shadow:0 2px 3px rgba(0,0,0,0.1);
}
.ex-btns button:nth-of-type(1){
	margin-bottom:11px;
}
