.startAct{
	width: 100%;
	box-sizing: border-box;
}
.startAct-con{
	width: 100%;
	box-sizing: border-box;
	border-bottom: 0.02rem solid #d2d3d5;
}
.match-con{
	background: white;
	font-size: 0.26rem;
	padding: 0.32rem 0.22rem 0.36rem 0.22rem;
}
.match-con h5{
	font-size: 0.28rem;
	color: #fca958;
	padding:0 0.22rem 0.4rem 0;
}
.match-con h6{
	font-size: 0.26rem;
	color: #212121;
}
.match-con span{
	display: block;
	color: #818181;
}
.match-con span:nth-of-type(1){
	padding:0.05rem 0 0.4rem 0;
}
.match-date{
	font-size: 0.28rem;
}