.startAct{
	width: 100%;
	box-sizing: border-box;
}
.startAct-con{
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #d2d3d5;
}
.match-con{
	background: white;
	font-size: 13px;
	padding: 16px 11px 18px 11px;
}
.match-con h5{
	font-size: 14px;
	color: #fca958;
	padding:0 11px 20px 0;
}
.match-con h6{
	font-size: 13px;
	color: #212121;
}
.match-con span{
	display: block;
	color: #818181;
}
.match-con span:nth-of-type(1){
	padding:2px 0 20px 0;
}
.match-date{
	font-size: 14px;
}
