.startAct3-con{
	width: 100%;
	box-sizing: border-box;
}
.grade-con{
	text-align: center;
	position: relative;
	background: white;
	margin-bottom: 0.1rem;
	padding: 0.4rem;
}
.startAct3-con img{
	width: 100%;
	display: block;
}
.startAct3-con span{
position: absolute;
    left: 50%;
    margin-left: -0.3rem;
    font-size: 0.26rem;
    color: #fca958;
    top: 50%;
    margin-top: -0.2rem;
    font-weight: bold;
}
.startAct3-con label{
	font-size: 0.6rem;
}
.startAct3-con p{
	font-size: 0.22rem;
	padding: 0.2rem 0 0.5rem 0;
}
.credit-con{
	width: 100%;
	box-sizing: border-box;
	padding: 0.4rem;
	background:white;
	font-size: 0.28rem;
}
.credit-con h6{
	font-size: 0.24rem;
	color:#bdbdbd;
	padding-bottom: 0.32rem;
}
.credit-con label{
	font-size: 0.36rem;
	color:#fca958;
}
table{
	width:100%;
	font-size: 0.28rem;
	border:0.01rem solid #d2d3d5;
	border-radius: 0.01rem;
	overflow: hidden;
	text-align:center;
	border-collapse: collapse;
}
thead{
	background:#f4f4f4;
}
th{
	padding:0.22rem 0;
}
tr{
	border:0.01rem solid #d2d3d5;
}
td{
	padding:0.27rem 0;
}
