.salves-num1{
	background:white;
	padding:15px 11px;
	border-bottom: 1px solid #d2d3d5;
}
.one{
	font-size: 14px;
	padding-bottom:10px;
}
.times{
	font-size: 12px;
	color: #757575;
}
.num1-right{
	font-size: 11px;
	padding-top:10px;
}
.num1-right span{
	color: #757575;
	display: inline;
}
.num1-right label{
	font-size: 14px;
	color:#fca958;
	padding-right: 5px;
}
.num1-right .icon-more{
	font-size: 15px;
	color:#cccccc;
	display: inline;
}
/* 我的粉丝 */
.startAct7-con{
	width: 100%;
	box-sizing: border-box;
}
.flowers-cons{
	width: 100%;
	background:white;
	margin-bottom: 10px;
}
.startAct7-con .haveflows{
	font-size: 14px;
	color:#212121;
	text-align: center;
	padding: 23px 0 10px 0;
}
.startAct7-con .haveflows span{
	font-size: 11px;
	color:#818181;
}
.flowers{
	font-size: 18px;
	color:#fca958;
	text-align: center;
	padding-bottom: 20px;
}
.flowers-ul{
	width: 100%;
	padding:0 35px;
	text-align: center;
	font-size: 13px;
}
.flowers-ul>li{
	float: left;
	width: 33.3%;
	text-align: center;
}
.peoples{
	font-size: 11px;
	color:#bdbdbd;
	padding-top: 8px;
}
.peoples span{
	font-size: 14px;
	color:#fca958;
}
.flower-btn{
	padding:16px 32px 37px 32px;
}
.flower-btn button{
	width: 100%;
	padding:10px 0;
	text-align: center;
	font-size: 15px;
	color: #fca958;
	border: 1px solid #fca958;
	border-radius: 3px;
}
.listHead{
	font-size: 14px;
	color:#3c3c3c;
	padding: 11px;
	background:white;
	width: 100%;
}
.flower-list{
	font-size: 14px;
	color:#3c3c3c;
	background:white;
	width: 100%;
	padding: 8px 11px;
	border-bottom:1px solid #dbdee5;
	border-top:1px solid #dbdee5;
}
.circles{
	width: 43px;
	height: 43px;
	background: #bcbcbc;
	border-radius:50%;
}
.name{
	padding:10px 0 0 10px;
}
.care{
	padding:7px 0;
	width:58px;
	text-align: center;
	color: white;
	background:#fca958;
	border: 1px solid #fca958;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
.flower-list .bg-care{
	background:#fcd058;
}
