.study-con{
	width: 100%;
	box-sizing: border-box;
}
.study-con{
	width: 100%;
	box-sizing: border-box;
}
.study-top{
	width: 100%;
	padding: 13px 11px 13px 11px;
	border-bottom: 1px solid #bdbdbd;
	font-size: 14px;
	background:white;
}
.study-top .circle{
	width: 53px;
	height: 53px;
	border-radius: 50%;
	background: #bdbdbd;
}
.study-top .msg{
	color: #212121;
	padding: 5px 0 0 12px;
}
.study-top .msg span{
	display: block;
}
.study-top .msg .grade{
	color: #757575;
	padding-top: 2px;
}
.study-bottom{
	width: 100%;
	padding: 16px 11px 20px 11px;
	border-bottom: 1px solid #bdbdbd;
	font-size: 13px;
	background:white;
	color:#757575;
	position: relative;
}
.study-bottom .grades{
	font-size: 14px;
	padding-bottom: 20px;
}
.course-right span{
	position: absolute;
	right: 11px;
	bottom: 18px;
}
