html{
	font-family: sans-serif;
}
html,body,header,section,footer,div,ul,ol,li,img,a,span,em,del,legend,center,strong,var,fieldset,form,label,dl,dt,dd,cite,input,hr,time,mark,code,figcaption,figure,textarea,h1,h2,h3,h4,h5,h6,p{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
	word-wrap:break-word;
  word-break:break-all;
}
html,body {
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-user-select:none;
	background-color: #eeeff7;
	font-size: 14px;
	height: 100%;
	color: #262829;
}
nav,article,aside,details,main,header,footer,section,fieldset,figcaption,figure{
	display: block;
}
img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea{
	display:inline-block;
}
header,section,footer {
	position:relative;
}
ol,ul{
	list-style:none;
}
input,button,textarea {
	border:0;
	margin:0;
	padding:0;
	font-size:1em;
	line-height:1em;
	background-color:rgba(0, 0, 0, 0);
	outline: none;
	/*解决ios端按钮和输入框自带圆角的问题*/
	-webkit-appearance: none ;
	border-radius: 0;
	/*解决ios端按钮和输入框自带圆角的问题*/
	/*解决ios重影边框问题*/
	-webkit-touch-callout: text;
   -webkit-user-select: text;
	 /*解决ios重影边框问题*/
}

span{
	display:inline-block;
}
a:active, a:hover {
  outline: 0;
	/*color: #262829;*/
}
a, a:visited{
	text-decoration:none;
	/*color: #262829;*/
}

label, .wordWrap{
    word-wrap: break-word;
    word-break: break-all;
}

/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 0;
}
/*清除浮动*/
.clearfix:after{
	content: ' ';
	display: block;
	clear: both;
	visibility:hidden;
	line-height: 0;
	height:0;
}
.loading_more{
	display: block;
	height: 1.5em;
	width: 100%;
}
.loading_more:before {
	display: inline-block; vertical-align: text-bottom;
	content: ' '; height: 16px; width: 16px; margin-right: 6px;
	background: url(../image/loading_more.gif) no-repeat center;
	-webkit-background-size: contain;
	background-size: contain;
}
.loading_more:after {
	content: '加载更多';
}

#main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow-y: auto;
		-webkit-overflow-scrolling: touch;
}

#wrap {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}

.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow-y: auto;
}


/*单行文本溢出显示省略号*/
.single {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*多行文本溢出显示省略号*/
.more {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.more3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/*设置input框placeholder字体*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ccc;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ccc;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ccc;
}

fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
textarea{resize:none;}/*去掉右下角*/

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal;}
address, cite, dfn, em, var ,i{ font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp{ font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读, 让 small 正常化 */

/*弹性盒模型垂直对齐*/
.flex-align-center{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;
}
/*水平，垂直居中*/
.flex-center{
	display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
	-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;
	-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;
}


/*vue 渲染数据使用*/
[v-cloak] {
    display: none !important;
}
/*没有数据*/
.no-data{padding: 20% 20px; font-size: 18px; color: #999; text-align: center;}
.no-data img{width: 120px; height: 120px;}
.no-data p{font-size: 15; margin-top: 20px;}
