html {
    font-family: sans-serif;
}

html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, center, strong, var, fieldset, form, label, dl, dt, dd, cite, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
}

html, body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-color: #efeff4;
}

nav, article, aside, details, main, header, footer, section, fieldset, figcaption, figure {
    display: block;
}

img, a, button, em, del, strong, var, label, cite, small, time, mark, code, textarea {
    display: inline-block;
}

header, section, footer {
    position: relative;
}

ol, ul {
    list-style: none;
}

input, button, textarea {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
}

input, button, select, textarea {
    outline: none
}

;
textarea {
    resize: none
}

;
span {
    display: inline-block;
}

a:active, a:hover {
    outline: 0;
}

a, a:visited {
    text-decoration: none;
}

label, .wordWrap {
    word-wrap: break-word;
    word-break: break-all;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.loading_more {
    display: block;
    height: 1.5em;
    width: 100%;
}

.loading_more:before {
    display: inline-block;
    vertical-align: text-bottom;
    content: ' ';
    height: 16px;
    width: 16px;
    margin-right: 6px;
    background: url(../image/loading_more.gif) no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}

.loading_more:after {
    content: '加载更多';
}

html, body {
    font-size: 14px;
    height: 100%;
}

.hover {
    opacity: .8;
}

#main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow-y: auto;
}

#wrap {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
}


/*单行文本溢出显示省略号*/

.single {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*多行文本溢出显示省略号*/

.more {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.more2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


/*去掉滚动条*/

::-webkit-scrollbar {
    width: 0px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.flex-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex-con {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow-y: auto;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aaa;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #aaa;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aaa;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #aaa;
}


/*vue 渲染数据使用*/

[v-cloak] {
    display: none !important;
}
