
/** {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}*/

.img-size{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.hide{
	overflow: hidden;
}
.fl{
	float: left;
}
.fr{
	float:right;
}

/* activity2 */
.activity-bottom{
	width:100%;
	font-size:10px;
	text-align:center;
	box-shadow:0 -1px 2px rgba(0,0,0,0.1);
	border-top: 1px solid #e8e8e8;
	background:white;
	position: fixed;
	bottom:0;
	left:0;
	z-index:2;
}
.bottom-ul{
	width:100%;
}
.bottom-ul>li{
	float:left;
	width:25%;
}
.activity-bottom .icon-center{
	font-size:40px;
	color:#bcbcc4;
	display:block;
}
.activity-bottom span{
	position: relative;
	bottom:7px;
	color:#5c5c5c;
}


/* fu-body 4promotion2*/
.quitAct{
	width:280px;
	background:white;
	border-radius:4px;
	text-align:center;
	position: absolute;
	font-size:15px;
	top:50%;
	margin-top:-82px;
	left:50%;
	margin-left: -140px;
}
.quitAct h6{
	color:#212121;
	font-size:16px;
	padding: 30px 0 18px 0;
}
.quitAct p{
	color:#adadad;
	font-size:15px;
	padding-bottom:18px;
}
.quitAct ul{
	width:100%;
	overflow: hidden;
	border-top:1px solid #d2d3d5;
}
.quitAct ul>li{
	float:left;
	width:50%;
	padding:18px;
	font-size:16px;
}
/* .fu-body */
.fu-body{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	z-index:30;
	background:rgba(0,0,0,0.4);
	overflow: auto;
}
/* creatAct */
.creatAct-header{
	background: #ffb300;
	padding: 32px 30px 0 11px;
}
.headerAct-left{
	padding-left: 29px;
}
.headerAct-left span:nth-of-type(1){
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 25px;
}
.headerAct-left span:nth-of-type(2){
	color: #fff;
	font-size: 12px;
	padding:5px 0 29px 0;
}
.img-head01{
	display:block;
	width: 47px;
	height: 47px;
	line-height:  47px;
	text-align: center;
	border-radius: 50%;
	background:white;
	overflow: hidden;
}
/* creatAct2 */
.creatAct2-btns{
	padding:0 4px;
	font-size: 18px;
}
.connection{
    background: #ffb300;
    margin-top: 15px;
    margin-bottom: 19px;
    width: 100%;
    height: 43px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
/* 4promotion2 */
.promotion2-bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	width:100%;
	z-index: 3;
	font-size:16px;
	background: white;
	border-top:1px solid #eaeaea;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
}
.promotion2-bottom>li{
	float: left;
}
.act-time{
	width:65%;
	padding:10px 0 0 11px;
}
.promotion2-bottom span{
	color:#757575;
	padding: 18px 0;
	width:100%;
	padding-left:11px;
}
.promotion2-bottom button{
	color:white;
	background:#fca958;
	text-align:center;
	padding: 18px 0;
	width:100%;
}

/* godds */
.goods-bottom{
	width: 100%;
	background:white;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
	position: fixed;
	bottom: 0;
	left: 0;
}
.goods-bottom>li{
	float: left;
	padding: 17px 0;
}
.goods-bottom .price-li{
	width:65%;
	padding-left: 25px;
	color: #bdbdbd;
	font-size: 13px;
}
.goods-bottom .credit{
	color: #fcb676;
	font-size: 15px;
}
.submit-btn{
	color: white;
	font-size: 15px;
	background:#fca958;
	text-align: center;
}
/* 6address */
.edit-con .icon-choice{
	font-size: 22px;
	color:#fca958;
}
/* 6address3 */
.taste-con{
	width: 100%;
	box-sizing: border-box;
	font-size: 13px;
	color:#818181;
	padding:10px 11px;
	position: relative;
	background:white;
	margin-bottom: 10px;
}
.square{
	width: 75px;
	height: 75px;
	background:#ececec;
  margin-right: 20px;
}
.taste-con h6{
	font-size: 13px;
}
.taste-con .free{
	color:#212121;
}
.taste-con .chicken{
	color:#b4b4b4;

}
.taste-con .credit{
	color:#fdc290;
}
/* 7staftAct3 */
.homePage-header .icon-help{
	  font-size: 29px;
    color: #000000;
    display: block;
    position: absolute;
    right: 2px;
    top: 30px;
}
/* 7performance */
.performance-top{
	width: 100%;
	box-sizing: border-box;
	font-size: 11px;
	color: #c6c6c6;
	background:white;
	margin-bottom:10px;
}
.img-gold02{
	margin: 0 auto;
	display: block;
	padding:23px 0 10px 0;
	width: 110px;
}
.performance-top p{
	text-align: center;
}

/* 7earnings2 */
.cash-btn{
	padding: 0 15px;
	margin-top: 62px;
}
.cash-btn button{
	width: 100%;
	background:#fca958;
	color:white;
	text-align:center;
	font-size: 18px;
	padding:13px 0;
	border:1px solid #e8923f;
	border-radius:5px;
}
