 <widget id="A6058908802893"  version="0.0.1">
    <name>学令牌</name>
    <description>
        学令牌
    </description>
    <author email="1007237083@qq.com" href="http://www.apicloud.com">
        嘘晃
    </author>    <!-- ./index.html-->
    <content src="./html/login/login0.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="true"/>
	<preference name="vScrollBarEnabled" value="true"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>  <!-- 沉浸式头部true -->
	<preference name="statusBarAppearance" value="true"/>  <!-- 配置键盘弹出方式    resize：弹出键盘时会把页面往上推移，iOS平台resize和auto等效;    pan：弹出键盘时页面不会被往上推移    auto：由系统根据输入框位置决定是否页面往上推移 -->  <preference name="softInputMode" value="resize"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />  <!-- 百度模块 -->  <feature name="bMap">    <param name="android_api_key" value="3kh893qMUHS8US4QYw3w0lLzhabSlAx4" />    <param name="ios_api_key" value="jcEOSTppWsFNnEkP49lwzcWFxo7X7lfz" />  </feature>  <!-- wx -->
  <feature name="wx">
    <param name="urlScheme" value="wxdc86ebed0e740605"/>
    <param name="apiKey" value="wxdc86ebed0e740605"/>
    <param name="apiSecret" value="f17fd06ab397bf95d0f28527f481c570"/>
  </feature>
  <!-- 极光推送 -->
  <feature name="ajpush">
        <param name="app_key" value="f787308e3c07449475595f55" />
        <param name="channel" value="16a88661db207abc8422cf3f" />
  </feature>
</widget>