<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>活动详情</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<link rel="stylesheet" href="../../css/api.css">
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/loading.css">
	<link rel="stylesheet" href="../../icon/iconfonts/iconfont.css">
	<link rel="stylesheet" href="../../css/5actMsg.css">
	<style media="screen">
      .flex-wrap{height: 100%;}
			.footer{
				width:100%;
				z-index: 3;
				font-size:16px;
				background: white;
				border-top:1px solid #eaeaea;
				box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
				height: 50px;
				line-height: 50px;
			}
			.footer li{
					float: left;
					height: 100%;
			}
			.footer li.btn {
				float: right;
				width: 35%;
				color: white;
				background: #fca958;
				text-align: center;
				height: 100%;
			}
			.Places{padding-left: 18px;}
			.pic{
				 	display: block;
			    margin-right: 10px;
			    width: 60px;
			    height: 60px;
			    border-radius: 50%;
					overflow: hidden;
					float: left;
			}

			.pic img{
				width: 100%;
        height: 100%;
				display: block;
			}
	</style>
</head>

<body>
	<div id="app" class="flex-wrap flex-vertical">
	<header class="homePage-header" onclick="go_back()">
		<h4>活动详情</h4>
		<i class="iconfont icon-fanhui icon-return"></i>
	</header>
	<div class="actMsg-con flex-con" id="main">
				<div class="actMsg-top">
					<div class="img-con">
						<img :src="actInfo.actimgurl" alt="">
						<p class="hide font-hiden">
							<span class="fl">{{actInfo.title}}</span>
							<span class="fr">{{actInfo.actstarttime | formatDate}}</span>
						</p>
					</div>
					<div class="company-con hide">
						<span class="pic">
							<img :src="actInfo.headimgurl" alt="" class="fl" v-if="actInfo.headimgurl !== '' && actInfo.headimgurl !== null">
							<img src="../../image/head01.png" alt="" class="fl" v-else>
						</span>
						<p class="fl infors">
							<span>举办方</span>
							<span>{{actInfo.nickname}}</span>
						</p>

						<!-- 已关注  -->
						<span class="fr watch" v-if="status == '1'" @click="cancel_follow(actInfo.com_id)">已关注</span>
						<!-- 未关注 -->
						<span class="fr watch" style="background:#fcd058;" @click="follow(actInfo.com_id)" v-else>+关注</span>

					</div>
				</div>
				<div class="actMsg-bottom">
					<div class="activity-con">
						<div class="msg-top hide">
							<span class="line fl"></span>
							<h6 class="fl">活动信息</h6>
						</div>
						<div class="msg-bottom">
							<p>活动日期:{{actInfo.actstarttime | formatDate}}</p>
							<p>活动地点:{{actInfo.address}}</p>
							<p>参加人数:{{actInfo.userlimit}}人</p>
						</div>
					</div>
					<div class="activity-con" style="border-bottom:0;">
						<div class="msg-top hide">
							<span class="line fl"></span>
							<h6 class="fl">活动详情</h6>
						</div>
						<div class="msg-bottom">
							{{actInfo.actdesc}}
						</div>
					</div>
				</div>
			</div>

		<ul class="footer hide">
			<li class="Places">剩余名额:{{actInfo.count}}</li>
			<li class="btn" @click="EnterFor()" id="SignUp">报名参加</li>
			<li class="btn" style="background:#fcd058; display:none" id="isSignUp">已报名</li>
		</ul>

	</div>
</body>

</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/my.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/date.js"></script>
<script type="text/javascript">
var actid,token,id;
apiready = function() {
	actid = api.pageParam.actid;
	token = $api.getStorage('token');
	id = $api.getStorage('id');
	loading();
	$api.css($api.dom('#loading'), 'display:block');
	vm.get_actMsg();
	vm.WhetherSignUp();
  $api.css($api.dom('#loading'), 'display:none');
};

var vm = new Vue({
	el: '#app',
	data: {
		actInfo: [],
		status:''
	},
	filters: {
		formatDate(time) {
			var date = new Date(time * 1000);
			return formatDate(date, 'yyyy-MM-dd');
		}
	},
	methods: {
		get_actMsg() {//获取活动详情
			api.ajax({
				url: serverurl,
				method: 'get',
				data: {
					values: {
						type: '10018',
						id: actid,
						token: token
					},
				}
			}, function(ret, err) {
				if (ret) {
					if (ret.status == '1') {
						vm.actInfo = ret.data;
						vm.is_follow();
					}
				} else {
					api.toast({
						msg: '网络错误',
						duration: 2000,
						location: 'bottom'
					});
				}
			});
		},

		EnterFor(){
				api.confirm({
				    title: '确认报名',
				    msg: '报名后，请按时参加活动',
				    buttons: ['确定', '取消']
				}, function(ret, err) {
				    var index = ret.buttonIndex;
						if(index == '1'){
							 vm.JoinIn();
						}
				});

		},

		JoinIn(){
			api.ajax({//活动汇报名
					url: serverurl,
					method: 'get',
					data: {
							values: {
									type: '10025',
									act_id:actid,
									uid:id,
									token:token
							}
					}
			},function(ret, err){
					if (ret) {
							if (ret.status == '1') {
								  $api.css($api.dom('#SignUp'), 'display:none');
									$api.css($api.dom('#isSignUp'), 'display:block');
									vm.get_actMsg();
									api.toast({
											msg: '报名成功',
											duration: 2000,
											location: 'middle'
									});
							}else if (ret.status == '2') {
									api.toast({
											msg: '抱歉，你已经报名过了',
											duration: 2000,
											location: 'bottom'
									});
							}else{
									api.toast({
									    msg: '报名失败',
									    duration: 2000,
									    location: 'bottom'
									});

							}
					} else {
							api.toast({
									msg: '网络错误',
									duration: 2000,
									location: 'bottom'
							});

					}
			});
		},

		WhetherSignUp(){
			api.ajax({//检测用户是否报名
					url: serverurl,
					method: 'get',
					data: {
							values: {
									type: '10121',
									act_id:actid,
									uid:id,
									token:token
							}
					}
			},function(ret, err){
					if (ret) {
							if (ret.status == '1') {
								$api.css($api.dom('#SignUp'), 'display:none');
								$api.css($api.dom('#isSignUp'), 'display:block');
							}
					} else {
							api.toast({
									msg: '网络错误',
									duration: 2000,
									location: 'bottom'
							});
					}
			});
		},

		is_follow(){
			api.ajax({//查询用户是否已经关注对方
					url: serverurl,
					method: 'get',
					data: {
							values: {
									type:'10122',
									uid:id,
									token:token,
									to_userid:this.actInfo.com_id
							}
					}
			},function(ret, err){
				
					if (ret) {
							vm.status = ret.status;
					} else {
							api.toast({
									msg: '网络错误',
									duration: 2000,
									location: 'bottom'
							});
					}
			});
		},

		follow(follower_id) { //用户关注/粉丝
			api.ajax({
				url: serverurl,
				method: 'get',
				dataType: 'json',
				data: {
					values: {
						type: '10004',
						uid: id,
						follower_id: follower_id,
						token:token
					}
				}
			}, function(ret, err) {

				if (ret) {
					if (ret.status == '1') {
						api.toast({
							msg: '关注成功',
							duration: 2000,
							location: 'middle'
						});
						vm.get_actMsg();
					} else {
						api.toast({
							msg: '关注失败',
							duration: 2000,
							location: 'middle'
						});
					}

				} else {
					api.toast({
						msg: '网络错误',
						duration: 2000,
						location: 'middle'
					});

				}
			});
		},

		cancel_follow(follower_id) { //用户取消关注/粉丝
			api.ajax({
				url: serverurl,
				method: 'get',
				dataType: 'json',
				data: {
					values: {
						type: '100011',
						uid: id,
						follower_id: follower_id,
						token:token
					}
				}
			}, function(ret, err) {

				if (ret) {
					if (ret.status == '1') {
						api.toast({
							msg: '取消关注',
							duration: 2000,
							location: 'middle'
						});
						vm.get_actMsg();
					} else {
						api.toast({
							msg: '取消失败',
							duration: 2000,
							location: 'middle'
						});
					}

				} else {
					api.toast({
						msg: '网络错误',
						duration: 2000,
						location: 'middle'
					});
				}
			});
		}

	}
})
</script>
