<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>学客圈</title>
	<link rel="stylesheet" type="text/css" href="../../css/api.css" />
	<link rel="stylesheet" type="text/css" href="../../css/loading.css" />
	<link rel="stylesheet" type="text/css" href="../../css/5homePage.css" />
	<link rel="stylesheet" type="text/css" href="../../css/common.css" />
	<link rel="stylesheet" type="text/css" href="../../icon/iconfonts/iconfont.css"/>

	<style>
		header {
				position: relative;
				background: #ffb300;
		}

		.header {
			font-size: 16px;
			color: #212121;
			overflow: hidden;
			font-weight: bold;
			height: 50px;
			line-height: 50px;
			color: #fff;
		}

		.header em{width: 50px; height: 50px; background: url(../../image/back.png) no-repeat center;
			background-size: 20px; float: left;}

		.publish-contents h6 span{float: right;}
		.header-msg{background: #ffb300;}
	</style>
</head>

<body>
	<div class="homePage" id="wrap" v-cloak>
		<header>
			<div class="header">
				<em onclick="go_back()"></em> 我的学客圈
			</div>
		</header>

		<div id="main">
				<div class="header-msg">
					<div class="msg-con hide">
						<img class="fl msg-pic" :src="data.headimgurl+'?x-oss-process=image/resize,p_50'" alt="" v-if="data.headimgurl" @click="viewPicture(data.headimgurl)">
						<img class="fl msg-pic" src="../../image/pic.png" alt="" v-else>
						<p class="fl msg-name">
							<span class="rank">{{data.nickname}}</span>
							<span class="follower" v-if="data.count">您已分享了{{data.count}}条动态</span>
							<span class="follower" v-else>您还没有分享过动态</span>
						</p>
					</div>
				</div>

			<div class="publish-con hide">
				<i class="iconfont icon-feiji2 icon-flane fl"></i>
				<h5>他发表的动态</h5>
			</div>
			<div class="publish-contents" v-if="!data.list">暂无动态，快去分享自己的心情吧！</div>
			<div class="publish-contents" v-for="v in data.list" v-else>
				<h6>{{v.last_reply_at | formatDate}}<span @click="DelCircle(v.id)" v-if="oneself == 1">删除</span></h6>
				<div @click="goDatail(v.id)">
						<p class="more2" v-if="v.content">{{v.content}}</p>
						<ul class="publish-ul hide" v-if="v.thumb != ''">
							<li v-for="item in v.thumb">
								<img :src="item" alt="">
							</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/my.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/date.js"></script>
<script type="text/javascript">
		var header = $api.dom('header');
		fixStatusBar_API(header);
    var id,token;
		apiready = function(){
			  // $api.css($api.byId('wrap'), 'display:none');
				token = $api.getStorage('token');
				id = api.pageParam.id;

				loading();
        vm.getMyCircle();

		}

		var vm = new Vue({
				el:"#wrap",
				data:{
						data:[],
						oneself:''
				},
				filters: {
            formatDate(time) {
                var date = new Date(time * 1000);
                return formatDate(date, 'yyyy-MM-dd');
            }
        },
				methods:{
						getMyCircle(){//我的学客圈
								$api.css($api.byId('loading'), 'display:block');
								api.ajax({
								    url: serverurl,
								    method: 'get',
								    data: {
								        values: {
								            type:'10138',
														token:token,
														uid:id
								        },
								    }
								},function(ret, err){

										$api.css($api.byId('loading'), 'display:none');

								    if (ret) {

												vm.data = ret;
												var uid = $api.getStorage('id');

                        if (uid == api.pageParam.id) {
														vm.oneself = 1;
                        }else {
                        		vm.oneself = 0;
                        }
												// $api.css($api.byId('wrap'), 'display:block');
								    } else {
												api.toast({
												    msg: '网络错误',
												    duration: 2000,
												    location: 'bottom'
												});

								    }
								});
						},

						DelCircle(id){//删除我的学客圈动态
								api.ajax({
								    url: serverurl,
								    method: 'get',
								    data: {
								        values: {
								            type: '10139',
														token:token,
														id:id
								        },
								    }
								},function(ret, err){
								
								    if (ret) {
												if (ret.status == '1') {
														vm.getMyCircle();
												}
								    } else {
												api.toast({
												    msg: '网络错误',
												    duration: 2000,
												    location: 'bottom'
												});

								    }
								});

						},

						goDatail(circle_id){
								api.openWin({
								    name: 'circleDetail',
								    url: './circleDetail.html',
								    pageParam: {
								        circle_id: circle_id
								    }
								});
						},

						// 查看头像放大
						viewPicture(img){
				      var url = [];
				      url.push(img);
				      var imageBrowser = api.require('imageBrowser');
				      imageBrowser.openImages({
				          imageUrls: url
				      });

						}

				}
		})


</script>
