<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
      <title>账单明细</title>
      <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
      <link rel="stylesheet" type="text/css" href="../../css/loading.css"/>
      <style>
          .List li{background: #fff; padding: 15px; margin-bottom: 1px;}
          .title{font-size: 14px; color: #212121; margin-bottom: 15px;}
          .money{color: #ffb300; font-size: 14px;}
          .money em{font-size: 17px;}
          .money span{float: right; font-size: 15px; color: #ccc;}

          .noBill{padding-top: 30px; font-size: 16px; color: #333; text-align: center; width: 100%;}
      </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <div class="noBill" v-if="data.status == '0'">暂无账单明细~</div>
      <ul class="List" v-else>
          <li v-for="v in data">
              <div class="title">
                  {{v.log}}
              </div>
              <div class="money">
                <em>{{v.shouzhi}}</em>学分
                <span>{{v.log_time | formatDate}}</span>
              </div>
          </li>
      </ul>
    </div>
  </body>
  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/my.js"></script>
  <script type="text/javascript" src="../../script/vue.js"></script>
  <script type="text/javascript" src="../../script/date.js"></script>
  <script type="text/javascript">
      var id,token;
      apiready = function(){
          loading();
          token = $api.getStorage('token');
          id = $api.getStorage('id');
          vm.getBillDetail();
          //刷新
          api.setRefreshHeaderInfo({
              loadingImg: 'widget://image/refresh.png',
              bgColor: '#444',
              textColor: '#fff',
              textUp: '释放立即刷新...',
              textLoading: '加载中···',
              showTime: false
          }, function(ret, err) {
              //在这里从服务器加载数据，加载完成后调用api.refreshHeaderLoadDone()方法恢复组件到默认状态
              vm.getBillDetail();
              api.refreshHeaderLoadDone();
          });
      };

      var vm = new Vue({
          el:'#app',
          data:{
              data:[]
          },
          filters: {
              formatDate(time) {
                  var date = new Date(time * 1000);
                  return formatDate(date, 'yyyy年MM月dd日hh:mm');
              }
          },
          methods:{
              getBillDetail(){//查看用户账单

                  $api.css($api.byId('loading'),'display:block');
                  $api.css($api.byId('app'),'display:none');
                  api.ajax({
                      url: serverurl,
                      method: 'get',
                      data: {
                          values: {
                               type: '10158',
                               token:token,
                               uid:id
                          },
                      }
                  },function(ret, err){
                      $api.css($api.byId('loading'),'display:none');

                      if (ret) {
                          if (ret.status == '5') {
                              ExitLogin();
                          }else {
                              vm.data = ret;
                              $api.css($api.byId('app'),'display:block');
                          }

                      }else {
                          api.toast({
                              msg: '网络错误',
                              duration: 2000,
                              location: 'bottom'
                          });
                      }
                  });
              }
          }
      })
  </script>
  </html>
