<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
      <title>收益</title>
      <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
      <link rel="stylesheet" type="text/css" href="../../css/loading.css"/>
      <style>
          header{background: #ffb300; padding: 15px;}
          .title{overflow: hidden;}
          .title .half{width: 50%; float: left;}
          .half .txt{font-size: 14px; color: #fff1cf; padding-bottom: 10px;}
          .half .num{font-size: 18px; color: #ffebbf;}
          .half .num em{font-size: 29px; color: #fff; font-weight: bold; padding-left: 4px;}
          .chart{width: 100%; height: 250px; margin: 0 auto;}
          .head{font-size: 15px; color: #999; padding: 10px 15px;}

          .Lis{background: #fff;}
          .Lis li{padding: 10px 15px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;
          -webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center; border-bottom: 1px solid #f2f2f2;
          min-height: 50px;}
          .Lis li .lf{width: 70%; float: left;}
          .lf .name{font-size: 15px; color: #212121; padding-bottom: 7px;}
          .lf .time{font-size: 13px; color: #999;}
          .Lis li .rt{width: 30%; text-align: right; font-size: 14px; color: #212121; font-weight: bold;}
          .rt em{font-size: 18px;}

          .noIncome{font-size: 16px; color: #333; padding: 0 15px;}
          .noContent{font-size: 16px; color: #333; padding: 30px; text-align: center;}
      </style>
  </head>
  <body>
      <div id="app" v-cloak>
          <div class="noContent" v-if="ret.status == '0'">暂无收益~</div>
          <div v-else>
            <header>
                <div class="title">
                    <div class="half">
                        <p class="txt">总收益(学分)</p>
                        <div class="num">
                          <em v-if="profit.total">{{profit.total}}</em>
                          <em v-else>0</em>
                        </div>
                    </div>
                    <div class="half" style="text-align:right">
                        <p class="txt">最近7天收益(学分)</p>
                        <div class="num">¥
                          <em v-if="profit.week">{{profit.week}}</em>
                          <em v-else>0</em>
                        </div>
                    </div>
                </div>
                <div class="chart" id="chart"></div>
            </header>
            <div class="head">收益明细</div>
            <div class="noIncome" v-if="ret.status == '0'">暂无收益明细~</div>
            <ul class="Lis" v-else>
                <li v-for="v in ret">
                    <div class="lf">
                        <div class="name">{{v.title}}</div>
                        <div class="time">{{v.daily}}</div>
                    </div>
                    <div class="rt"><em>{{v.count}}</em>学分</div>
                </li>
            </ul>
          </div>
      </div>
  </body>
  <script type="text/javascript" src="../../script/api.js"></script>
  <script type="text/javascript" src="../../script/my.js"></script>
  <script type="text/javascript" src="../../script/vue.js"></script>
  <script type="text/javascript" src="../../script/echarts.min.js"></script>
  <script type="text/javascript">
      var uid,token;
      apiready = function(){
          uid = $api.getStorage('id');
          token = $api.getStorage('token');
          var index = api.pageParam.index;

          loading();

          $api.css($api.byId('loading'), 'display:block');
          vm.getProfit(index);
          vm.getIncome(index);
          $api.css($api.byId('loading'), 'display:none');


          //刷新
          api.setRefreshHeaderInfo({
              loadingImg: 'widget://image/refresh.png',
              bgColor: '#444',
              textColor: '#fff',
              textUp: '释放立即刷新...',
              textLoading: '加载中···',
              showTime: false
          }, function(ret, err) {
              //在这里从服务器加载数据，加载完成后调用api.refreshHeaderLoadDone()方法恢复组件到默认状态
              window.location.reload();
              api.refreshHeaderLoadDone();
          });
      };

      var vm = new Vue({
          el:"#app",
          data:{
              ret:[],
              profit:[]
          },
          methods:{
              getIncome(index){
                  api.ajax({//显示支教老师详细收益
                      url: serverurl,
                      method: 'get',
                      cache:true,
                      data: {
                          values: {
                              type: '10176',
                               uid: uid,
                             token: token,
                             form:index
                          },
                      }
                  },function(ret, err){

                      if (ret) {
                          if(ret.status == '5'){
                              ExitLogin();
                          }else {
                              vm.ret = ret;
                          }
                      }else {
                          api.toast({
                              msg: '网络错误',
                              duration: 2000,
                              location: 'bottom'
                          });

                      }
                  });
              },

              getInfo(){
                  api.ajax({//个人中心
                      url: serverurl,
                      method: 'get',
                      data: {
                          values: {
                              type: '10171',
                               uid: uid,
                             token: token
                          },
                      }
                  },function(ret, err){
                      vm.Info = ret;
                  });
              },

              // 支教老师收益
              getProfit(index){//form收益类型 1:生源奖 2:参与奖 3:下线收益

                  api.ajax({
                      url: serverurl,
                      method: 'get',
                      data: {
                          values: {
                               type: '10174',
                              token: token,
                               uid:uid,
                              form:index
                          },
                      }
                  },function(ret, err){

                      vm.profit = ret;
                      if (ret) {

                          if (ret.data) {

                            var data = [];
                            var time = [];
                            ret.data.forEach(function(e){
                                data.push(e.count);
                                time.push(e.time);
                            })
                            var myChart = echarts.init(document.getElementById('chart'));  // 基于准备好的dom，初始化echarts实例
                            option = {
                                      title: {
                                          text: '近1周收益'
                                      },
                                      tooltip: {
                                          trigger: 'axis'
                                      },

                                      grid: {
                                          left: '3%',
                                          right: '4%',
                                          bottom: '3%',
                                          containLabel: true
                                      },

                                      xAxis: {
                                          type: 'category',
                                          boundaryGap: false,
                                          data: time
                                      },
                                      yAxis: {
                                          type: 'value'
                                      },
                                      series: [
                                          {
                                              name:'收益',
                                              type:'line',
                                              stack: '总量',
                                              data:data
                                          }
                                      ]
                                  };
                          myChart.setOption(option);// 使用刚指定的配置项和数据显示图表。
                        }


                      } else {

                          api.toast({
                              msg: '网络错误',
                              duration: 2000,
                              location: 'bottom'
                          });

                      }
                  });

              }

          }
      })


  </script>
  </html>
