<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>收货地址管理</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/6address.css" />
		<link rel="stylesheet" type="text/css" href="../../icon/iconfonts/iconfont.css" />
		<style media="screen">
		.NoAddress {
				width: 100%;
				height:50px;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -25px;
				text-align: center;
				color: #333;
				font-size: 16px;
		}

		</style>
</head>
<body>
		<div class="address-con hide" id="app" v-cloak>
			<div class="no-data" v-if="data.status == '0'">
					 <img src="../../image/ndata.png" alt="没数据图片">
					 <p>抱歉，没有数据~</p>
			</div>
			<div v-for="v in data" v-else>
					<div class="address1-con" tapmode @click="go_order(v.address_id)">
						<div class="address1-top hide">
							<p class="address1-left fl">收货人:{{v.consignee}}</p>
							<p class="address1-right fr">电话:{{v.tel}}</p>
						</div>
						<p class="adds" v-if="v.default == '1'"><label>默认收货地址:</label>{{v.address}}</p>

						<p class="adds" v-else>收货地址:{{v.address}}</p>
					</div>
					<div class="edit-con hide">

						<p class="edit-left fl" v-if="v.default == '1'">
							<i class="iconfont icon-fangxingxuanzetianchong icon-choice"></i>
							<span style="bottom: 4px;">默认地址</span>
						</p>

						<p class="edit-left fl" style="position: relative;right:10px;" tapmode @click="set_default(v.address_id)" v-else>
							<i class="iconfont icon-square icon-choice" style="color:#757575;"></i>
							<span style="right:10px;bottom: 4px;">默认地址</span>
						</p>

						<div class="edit-right fr">
							<p class="right-con edit-left" style="padding-right:45px;" tapmode @click="edit_address(v.address_id)">
								<i class="iconfont icon-bianji icon-edit"></i>
								<span>编辑</span>
							</p>
							<p class="right-con edit-left" tapmode @click="del_address(v.address_id)">
								<i class="iconfont icon-shanchu3 icon-edit"></i>
								<span>删除</span>
							</p>
						</div>
					</div>
			</div>
		</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/my.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript">
		var token,id;
		apiready = function(){
			  api.parseTapmode();

				token = api.getPrefs({
						sync: true,
						key: 'token'
				});
				id = api.getPrefs({
						sync: true,
						key: 'id'
				});
				vm.getAdress();

		}

		var vm = new Vue({
				el: '#app',
				data: {
						data: []
				},
				methods: {
						getAdress: function getAdress() {
								//读取收货地址列表
                showProgress('努力加载中','请稍后···');
								api.ajax({
										url: serverurl,
										method: 'get',
										cache: true,
										dataType: 'json',
										data: {
												values: {
														type: '10113',
														token: token,
														uid: id
												}
										}
								}, function (ret, err) {
                    api.hideProgress();

										if (ret) {
												if (ret.status == '5') {
														ExitLogin();
												} else {
														vm.data = ret;
												}
										} else {
												msg('网络错误');
										}
								});
						},
						set_default: function set_default(address_id) {
								//更新默认地址
                showProgress('努力加载中','请稍后···');
								api.ajax({
										url: serverurl,
										method: 'get',
										dataType: 'json',
										data: {
												values: {
														type: '10106',
														token: token,
														uid: id,
														address_id: address_id
												}
										}
								}, function (ret, err) {
                    api.hideProgress();

										if (ret) {
												if (ret.status == '5') {
														ExitLogin();
												} else if (ret.status == '1') {
														vm.getAdress();
												}
										} else {
												msg('网络错误');
										}
								});
						},
						del_address: function del_address(address_id) {
								//删除地址
								api.confirm({
								    title: '温馨提示',
								    msg: '确定要删除该地址吗?',
								    buttons: ['确定', '取消']
								}, function(ret, err) {
									console.log(JSON.stringify(ret));
								    var index = ret.buttonIndex;
										if (index == 1) {
                       vm.goDel(address_id);
										}
								});

						},
						goDel:function goDel(address_id){
								showProgress('努力加载中','请稍后···');
								api.ajax({
										url: serverurl,
										method: 'get',
										dataType: 'json',
										data: {
												values: {
														type: '10104',
														token: token,
														id: address_id,
														uid:id
												}
										}
								}, function (ret, err) {
										api.hideProgress();
										
										if (ret) {
												if (ret.status == '5') {
														ExitLogin();
												} else if (ret.status == '1') {
														vm.getAdress();
														msg('删除成功');
												}
										} else {

												msg('网络错误');
										}
								});
						},
						edit_address: function edit_address(address_id) {
								//编辑地址
								var pageParam = {
										address_id: address_id
								};
                openWin('6address2','./6address2.html',pageParam);

						},
						go_order: function go_order(address_id) {
								if (api.pageParam.goods_id) {
										var pageParam = {
											address_id: address_id,
											goods_id:api.pageParam.goods_id,
											total:api.pageParam.total,
											type:api.pageParam.type,
											RselNum:api.pageParam.RselNum,
											imgurl:api.pageParam.imgurl,
											goods_name:api.pageParam.goods_name
										};
								   	openWin('6confirmOrder','./6confirmOrder.html',pageParam);

								}
						}
				}
		});
</script>
