<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>收货地址管理</title>
		<link rel="stylesheet" type="text/css" href="../../css/api.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css">
		<link rel="stylesheet" type="text/css" href="../../css/loading.css">
		<link rel="stylesheet" type="text/css" href="../../css/6address.css" />
		<link rel="stylesheet" type="text/css" href="../../icon/iconfonts/iconfont.css" />
		<style media="screen">
		.NoAddress {
				width: 100%;
				height:50px;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -25px;
				text-align: center;
				color: #333;
				font-size: 16px;
		}

		</style>
</head>
<body>
		<div class="address-con hide" id="app">
			<div class="NoAddress" v-if="data.status == '0'">暂无收货地址</div>
			<div v-for="v in data" v-else>
					<div class="address1-con" @click="go_order(v.address_id)">
						<div class="address1-top hide">
							<p class="address1-left fl">收货人:{{v.consignee}}</p>
							<p class="address1-right fr">电话:{{v.tel}}</p>
						</div>
						<p class="adds" v-if="v.default == '1'"><label>默认收货地址:</label>{{v.address}}</p>

						<p class="adds" v-else>收货地址:{{v.address}}</p>
					</div>
					<div class="edit-con hide">

						<p class="edit-left fl" v-if="v.default == '1'">
							<i class="iconfont icon-fangxingxuanzetianchong icon-choice"></i>
							<span style="bottom: 4px;">默认地址</span>
						</p>

						<p class="edit-left fl" style="position: relative;right:10px;" @click="set_default(v.address_id)" v-else>
							<i class="iconfont icon-square icon-choice" style="color:#757575;"></i>
							<span style="right:10px;bottom: 4px;">默认地址</span>
						</p>

						<div class="edit-right fr">
							<p class="right-con edit-left" style="padding-right:45px;" @click="edit_address(v.address_id)">
								<i class="iconfont icon-bianji icon-edit"></i>
								<span>编辑</span>
							</p>
							<p class="right-con edit-left" @click="del_address(v.address_id)">
								<i class="iconfont icon-shanchu3 icon-edit"></i>
								<span>删除</span>
							</p>
						</div>
					</div>
			</div>
		</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/my.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript">
		var token,id;
		apiready = function(){
			  loading();
		
				token = $api.getStorage('token');
				id = $api.getStorage('id');
				vm.getAdress();
				//刷新
        api.setRefreshHeaderInfo({
            loadingImg: 'widget://image/refresh.png',
            bgColor: '#444',
            textColor: '#fff',
            textUp: '释放立即刷新...',
            textLoading: '加载中···',
            showTime: false
        }, function(ret, err) {
            //在这里从服务器加载数据，加载完成后调用api.refreshHeaderLoadDone()方法恢复组件到默认状态
            vm.getAdress();
            api.refreshHeaderLoadDone();
        });

		}

		var vm = new Vue({
				el: '#app',
				data: {
						data:[]
				},
				methods: {
						getAdress() { //读取收货地址列表
								$api.css($api.byId('loading'),'display:block');
								api.ajax({
										url: serverurl,
										method: 'get',
										cache:true,
										dataType: 'json',
										data: {
												values: {
														type: '10113',
														token:token,
														uid:id
												}
										}
								}, function(ret, err) {

										$api.css($api.byId('loading'),'display:none');
                    alert(JSON.stringify(ret));
										alert(JSON.stringify(err));
                  	if (ret) {
												vm.data = ret;
										} else {
												api.toast({
														msg: '网络错误',
														duration: 2000,
														location: 'middle'
												});

										}
								});
						},

						set_default(address_id){//更新默认地址
							$api.css($api.byId('loading'),'display:block');
							api.ajax({
									url: serverurl,
									method: 'get',
									dataType: 'json',
									data: {
											values: {
													type: '10106',
													token:token,
													uid:id,
													address_id:address_id
											}
									}
							}, function(ret, err) {
									$api.css($api.byId('loading'),'display:none');

									if (ret) {

											if (ret.status == '1') {
													vm.getAdress();
											}

									} else {
											api.toast({
													msg: '网络错误',
													duration: 2000,
													location: 'middle'
											});
									}
							});
						},

						del_address(address_id){//删除地址
							$api.css($api.byId('loading'),'display:block');
							api.ajax({
									url: serverurl,
									method: 'get',
									dataType: 'json',
									data: {
											values: {
													type: '10104',
													token:token,
													id:address_id
											}
									}
							}, function(ret, err) {
									$api.css($api.byId('loading'),'display:none');

									if (ret) {

											if (ret.status == '1') {
													vm.getAdress();
											}

									} else {
											api.toast({
													msg: '网络错误',
													duration: 2000,
													location: 'middle'
											});
									}
							});
						},

						edit_address(address_id){//编辑地址

									api.openWin({
									    name: '6address2',
									    url: './6address2.html',
									    pageParam: {
									        address_id: address_id
									    },
											reload:true
									});

						},

						go_order(address_id){
							  if (api.pageParam.goods_id) {
										api.openWin({
												name: '6confirmOrder',
												url: './6confirmOrder.html',
												pageParam: {
														address_id: address_id,
														goods_id:api.pageParam.goods_id
												},
												reload:true
										});
							  }
						}
				}
		})
</script>
