<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>订单详情</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<link rel="stylesheet" href="../../css/api.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/loading.css">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_384452_rn43nfcu23ej0pb9.css">
	<link rel="stylesheet" href="../../css/6address3.css">
</head>

<body>
	<!-- 申请退换货 -->
	<div class="6address3-con" id="app" v-cloak>
		<div class="order-con">
			<div class="order-top" v-if="status" @click="goLoglist(data.logistics_company,data.tracking_number)">
				<p class="adds">{{status.status}}</p>
				<p class="time">{{status.time}}</p>
				<i class="iconfont icon-gengduo1 icon-more"></i>
			</div>
			<div class="order-bottom" style="padding-bottom:0;">
				<h6>状态:
						<!-- 商品配送情况;0未发货,1已发货,2已收货,4申请退货;5处理中;6退货完成 -->
						<!-- 已签收状态（已签收）、配送中（配送中）、退换货处理中（退换处理中）、退换货完成（退换货完成） -->
						<span v-if="data.shipping_status == '0'">未发货</span>
						<span v-else-if="data.shipping_status == '1'">配送中</span>
						<span v-else-if="data.shipping_status == '2'">已签收</span>
						<span v-else-if="data.shipping_status == '4'">申请退货</span>
						<span v-else-if="data.shipping_status == '5'">退换处理中</span>
						<span v-else-if="data.shipping_status == '6'">退换货完成</span>
					</h6>
				<p v-if="data.tracking_number">订单编号:<span>{{data.tracking_number}}</span></p>
				<p>下单时间:<span>{{data.add_time | formatDate}}</span></p>


				<p class="buy-btn">
					<!-- 未确认收货 -->
					<button v-if="data.shipping_status == '1'" @click="confirmReceipt()">确认收货</button>
					<!-- 确认收货后 -->
					<button @click="buyAgain(data.id)" v-else-if="data.shipping_status == '2'">再次购买</button>
					<!-- 商品退换中 -->
					<button v-else-if="data.shipping_status == '5'">商品退换中</button>
					<!-- 商品未退换 -->
					<button @click="ReturnGoods()" v-else-if="data.shipping_status == '4'">申请退货</button>
					<!-- 退货完成 -->
					<button v-else-if="data.shipping_status == '6'">联系客服</button>
				</p>

				<p class="buy-news" v-if="data.shipping_status == '5'">退换成功后学分或现金会自动打入当前账户</p>
			</div>
		</div>
		<div class="number-con">
			<p class="hide">
				<span class="fl">收货地址:&nbsp;</span>
				<span class="num-adds fl">{{data.address}}</span>
			</p>
			<p>收货人:<span style="width: 80%;">{{data.consignee}}&nbsp;{{data.tel}}</span></p>
			<p v-if="role == '2'">商品金额:<span>¥{{data.goods_amount}}</span></p>
			<p v-else>商品金额:<span>{{data.goods_amount}}学分</span></p>
			<p>配送方式:<span>{{data.logistics_company}}(免邮)</span></p>
		</div>
		<div class="taste-con hide" @click="buyAgain(data.id)">
			<!-- <img class="fl square"></span> -->
			<img class="fl square" :src="data.imgurl" alt="">
			<p class="fl">
				<h6 class="free single">{{data.goods_name}}</h6>
				<h6 class="chicken more2">{{data.abs}}</h6>
				<span class="credit" v-if="role == '2'">¥{{data.total * 0.25}}</span>
				<span class="credit" v-else>{{data.total}}学分</span>
			</p>
			<span class="paper">{{data.goods_number}}件</span>
		</div>

		<!-- 联系客服 -->
		<p class="touch-btn" v-if="data.shipping_status == '5' || data.shipping_status == '4'">
			<button>联系客服</button>
		</p>

		<span class="apply" v-if="data.shipping_status == '2'" @click="ReturnGoods()">申请退换货</span>

	</div>

	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/my.js"></script>
	<script type="text/javascript" src="../../script/vue.js"></script>
	<script type="text/javascript" src="../../script/date.js"></script>
	<script type="text/javascript">
		var token,order_id;
		apiready = function() {
			loading();
			order_id = api.pageParam.order_id;
			token = $api.getStorage('token');

			vm.get_orderDetail();

			//刷新
			api.setRefreshHeaderInfo({
				loadingImg: 'widget://image/refresh.png',
				bgColor: '#444',
				textColor: '#fff',
				textUp: '释放立即刷新...',
				textLoading: '加载中···',
				showTime: false
			}, function(ret, err) {
				//在这里从服务器加载数据，加载完成后调用api.refreshHeaderLoadDone()方法恢复组件到默认状态
				vm.get_orderDetail();
				api.refreshHeaderLoadDone();
			});

		}

		var vm = new Vue({
			el: '#app',
			data: {
				data: [],
				status: [],
				role:''
			},
			filters: {
				formatDate(time) {
					var date = new Date(time * 1000);
					return formatDate(date, 'yyyy-MM-dd');
				}
			},
			methods: {
				get_orderDetail() {//订单详情

					$api.css($api.dom('#loading'), 'display:block');
					$api.css($api.dom('#app'), 'display:none');
					api.ajax({
						url: serverurl,
						method: 'get',
						cache:true,
						data: {
							values: {
								type: '10129',
								token: token,
								order_id: order_id
							},
						}
					}, function(ret, err) {
						$api.css($api.dom('#loading'), 'display:none');

						if (ret) {

							vm.data = ret;
							vm.status = ret.status;
							vm.role = $api.getStorage('role');
              $api.css($api.dom('#app'), 'display:block');
						} else {
							api.toast({
								msg: '网络错误',
								duration: 2000,
								location: 'bottom'
							});

						}
					});
				},

				goLoglist(logistics_company, tracking_number) { //物流信息
					api.openWin({
						name: '6Logistics_info_title',
						url: './6Logistics_info_title.html',
						pageParam: {
							logistics_company: logistics_company,
							tracking_number: tracking_number
						}
					});
				},

				buyAgain(goods_id) {
					api.openWin({
						name: 'credit_goodDetail',
						url: './credit_goodDetail.html',
						pageParam: {
							goods_id: goods_id
						}
					});
				},

				confirmReceipt() { //确认收货
					api.confirm({
						title: '确认收货',
						msg: '请确认收到货后，再进行确认操作',
						buttons: ['确定', '取消']
					}, function(ret, err) {
						var index = ret.buttonIndex;
						if (index == '1') {
							$api.css($api.dom('#loading'), 'display:block');
							api.ajax({
								url: serverurl,
								method: 'get',
								data: {
									values: {
										type: '10131',
										token: token,
										order_id: order_id
									},
								}
							}, function(ret, err) {
								$api.css($api.dom('#loading'), 'display:none');

								if (ret) {

									if (ret.status == '1') {
										vm.get_orderDetail();
										api.sendEvent({
										    name: 'isConfirm',
										    extra: {
										        key: 1,
										    }
										});
									}else{
										api.toast({
										    msg: '确认收货失败',
										    duration: 2000,
										    location: 'bottom'
										});

									}
								} else {

									api.toast({
										msg: '网络错误',
										duration: 2000,
										location: 'bottom'
									});
								}
							});
						};
					});
				},

				// 申请退货
				ReturnGoods(){
						$api.css($api.dom('#loading'), 'display:block');
						api.ajax({
						    url: serverurl,
						    method: 'get',
						    data: {
						        values: {
						            type: '10132',
												token:token,
												order_id:order_id
						        },
						    }
						},function(ret, err){
							  $api.css($api.dom('#loading'), 'display:none');
								
						    if (ret) {

										if (ret.status == '1') {
												vm.get_orderDetail();
										}else{
												api.toast({
												    msg: '申请退货失败',
												    duration: 2000,
												    location: 'bottom'
												});

										}
						    } else {
						        api.toast({
						            msg: '网络错误',
						            duration: 2000,
						            location: 'bottom'
						        });

						    }
						});

				}

			}
		})

		// 输入商品单号
		function oddNumber() {
			var dialogBox = api.require('dialogBox');
			dialogBox.input({
				keyboardType: 'number',
				texts: {
					title: '输入订单',
					placeholder: '请在此输入退货快递单号',
					leftBtnTitle: '取消',
					rightBtnTitle: '确定'
				},
				styles: {
					bg: '#fff',
					corner: 5,
					w: 300,
					h: 165,
					title: {
						h: 65,
						alignment: 'center',
						size: 16,
						color: '#212121'
					},
					input: {
						h: 30,
						marginT: 0,
						textSize: 15,
						textColor: '#757575'
					},
					dividingLine: {
						width: 2,
						color: '#4c5be5'
					},
					left: {
						bg: 'rgba(0,0,0,0)',
						color: '#212121',
						size: 16
					},
					right: {
						bg: 'rgba(0,0,0,0)',
						color: '#4c5be5',
						size: 16
					}
				}
			}, function(ret) {

				if (ret.eventType == 'left') {
					var dialogBox = api.require('dialogBox');
					dialogBox.close({
						dialogName: 'input'
					});
				}
			});
		}


	</script>
