<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>全部订单</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<link rel="stylesheet" href="../../css/api.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/loading.css">
	<link rel="stylesheet" href="../../icon/iconfonts/iconfont.css">
	<link rel="stylesheet" href="../../css/6order.css">
	<style media="screen">
		.NoAct {
			width: 100%;
			height: 50px;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -25px;
			text-align: center;
			color: #333;
			font-size: 16px;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<div class="NoAct" v-if="data.status">暂无任何订单！</div>
		<div v-for="v in data" v-else>
			<div class="sign-con hide">
				<!-- shipping_status商品配送情况;0未发货,1已发货,2已收货,4申请退货;5处理中;6退货完成 -->
				<span class="fl">状态:
					    <label v-if="v.shipping_status == '0'">未发货</label>
							<label style="color:#fcb068;" v-else-if="v.shipping_status == '1'">配送中</label>
							<label v-else-if="v.shipping_status == '2'">已签收</label>
							<label v-else-if="v.shipping_status == '4'">退换货完成</label>
							<label v-else-if="v.shipping_status == '5'">退货处理中</label>
							<label v-else-if="v.shipping_status == '6'">退货完成</label>
				</span>
        <span class="fr" v-if="role == '2'">总价:<label>¥{{v.goods_amount}}</label></span>
				<span class="fr" v-else>总价:<label>{{v.goods_amount}}学分</label></span>
			</div>
			<div class="dispich-con">
				<div class="purchase-top" @click="goLoglist(v.logistics_company,v.tracking_number)" v-if="v.shipping_status == '1' && v.status">
					<p class="adds">{{v.status.status}}</p>
					<p class="time">{{v.status.time}}</p>
					<i class="iconfont icon-gengduo1 icon-more"></i>
				</div>
				<div class="taste-con hide" style="position:relative;">

					<img class="fl square" :src="v.imgurl" alt="" @click="goDetail(v.order_id)">
					<div class="fl" style="width:45%" @click="goDetail(v.order_id)">
						<h6 class="free single">{{v.goods_name}}</h6>
						<h6 class="chicken more2">{{v.abs}}</h6>
						<span class="paper">{{v.goods_number}}件</span>
					</div>

					<!-- 配送中状态添加 -->
					<span class="fr sure" style="z-index:99" v-if="v.shipping_status == '1'" @click="confirmReceipt(v.order_id)">确认收货</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/my.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript">
	var token,id;
	apiready = function() {
		token = $api.getStorage('token');
		id = $api.getStorage('id');
		loading();

		vm.get_orderLis();

		//刷新
		api.setRefreshHeaderInfo({
			loadingImg: 'widget://image/refresh.png',
			bgColor: '#444',
			textColor: '#fff',
			textUp: '释放立即刷新...',
			textLoading: '加载中···',
			showTime: false
		}, function(ret, err) {
			//在这里从服务器加载数据，加载完成后调用api.refreshHeaderLoadDone()方法恢复组件到默认状态
			vm.get_orderLis();
			api.refreshHeaderLoadDone();
		});

		api.addEventListener({
				name: 'isConfirm'
		}, function(ret, err){
				if( ret ){
						 vm.get_orderLis();
				}else{
						 console.log( JSON.stringify( err ) );
				}
		});

	}

	var vm = new Vue({
		el: '#app',
		data: {
			data: [],
			role:''
		},
		methods: {
			get_orderLis() { //查看订单

				$api.css($api.dom('#loading'), 'display:block');
				api.ajax({
					url: serverurl,
					method: 'get',
					data: {
						values: {
							type: '10108',
							token: token,
							uid: id
						},
					}
				}, function(ret, err) {
					$api.css($api.dom('#loading'), 'display:none');
					vm.role = $api.getStorage('role');
				
					if (ret) {
						vm.data = ret;

					} else {
						api.toast({
							msg: '网络错误',
							duration: 2000,
							location: 'bottom'
						});

					}
				});
			},

			goLoglist(logistics_company, tracking_number) { //物流信息
				api.openWin({
					name: '6Logistics_info_title',
					url: './6Logistics_info_title.html',
					pageParam: {
						logistics_company: logistics_company,
						tracking_number: tracking_number
					}
				});
			},


			goDetail(order_id) { //跳到订单详情
				api.openWin({
					name: '6orderDatail_title',
					url: './6orderDatail_title.html',
					pageParam: {
						order_id: order_id
					}
				});
			},

			confirmReceipt(order_id) { //确认收货
				api.confirm({
					title: '确认收货',
					msg: '请确认收到货后，再进行确认操作',
					buttons: ['确定', '取消']
				}, function(ret, err) {
					var index = ret.buttonIndex;
					if (index == '1') {
						$api.css($api.dom('#loading'), 'display:block');
						api.ajax({
							url: serverurl,
							method: 'get',
							data: {
								values: {
									type: '10131',
									token: token,
									order_id: order_id
								},
							}
						}, function(ret, err) {
							$api.css($api.dom('#loading'), 'display:none');

							if (ret) {

								if (ret.status == '1') {
									vm.get_orderLis();
									api.sendEvent({
									    name: 'isConfirm',
									    extra: {
									        key: 1,
									    }
									});

								}else{
									api.toast({
									    msg: '确认收货失败',
									    duration: 2000,
									    location: 'bottom'
									});

								}
							} else {

								api.toast({
									msg: '网络错误',
									duration: 2000,
									location: 'bottom'
								});
							}
						});
					};
				});
			}


		}
	})
</script>
