<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>粉丝列表</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<link rel="stylesheet" href="../../css/api.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../css/loading.css">
	<link rel="stylesheet" href="../../css/7startAct7.css">
	<style media="screen">
			.tips{margin-top: 20%; text-align: center; color: #666; font-size: 18px;}
	</style>
</head>

<body>

	<div class="startAct7-con" id="app">
		<div class="flower-list hide" v-if="status == '1'" v-for="v in data">
			<img class="fl circles" src="../../image/head01.png" v-if="v.headimgurl == '' || v.headimgurl == null">
			<img class="fl circles" :src="v.headimgurl" v-else>
			<span class="fl name">{{v.user_name}}</span>
			<!-- relation_type 1:关注 0：互相关注 -->
			<span class="fr care bg-care" v-if="v.relation_type == '0'" @click="cancel_follow(v.user_id)">已关注</span>
			<span class="fr care" v-else @click=follow(v.user_id)>+关注</span>
		</div>
		<div class="tips" v-if="status == '0'">暂无粉丝！</div>
	</div>

</body>

</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/my.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript">
	var time,id;
	var vm = new Vue({
		el: '#app',
		data: {
			data: [],
			status:''
		},
		methods: {
			 ViewFans() { //查看每一天粉丝
				$api.css($api.dom('#loading'), 'display:block');
				api.ajax({
					url: serverurl,
					method: 'get',
					dataType: 'json',
					data: {
						values: {
							type: '10026',
							time: time,
							user_id:id
						}
					}
				}, function(ret, err) {
					$api.css($api.dom('#loading'), 'display:none');
					if (ret) {
            vm.status = ret.status;
						
						if (ret.status == '1') {
							vm.data = ret.data;
						}

					} else {
						api.toast({
							msg: '网络错误',
							duration: 2000,
							location: 'middle'
						});

					}
				});
			},

			follow(follower_id) { //用户关注/粉丝
				api.ajax({
					url: serverurl,
					method: 'get',
					dataType: 'json',
					data: {
						values: {
							type: '10004',
							uid: id,
							follower_id: follower_id
						}
					}
				}, function(ret, err) {

					if (ret) {
						if (ret.status == '1') {
							api.toast({
								msg: '关注成功',
								duration: 2000,
								location: 'middle'
							});
							vm.ViewFans();
						} else {
							api.toast({
								msg: '关注失败',
								duration: 2000,
								location: 'middle'
							});
						}

					} else {
						api.toast({
							msg: '网络错误',
							duration: 2000,
							location: 'middle'
						});

					}
				});
			},

			cancel_follow(follower_id) { //用户取消关注/粉丝
				api.ajax({
					url: serverurl,
					method: 'get',
					dataType: 'json',
					data: {
						values: {
							type: '100011',
							uid: id,
							follower_id: follower_id
						}
					}
				}, function(ret, err) {

					if (ret) {
						if (ret.status == '1') {
							api.toast({
								msg: '取消关注',
								duration: 2000,
								location: 'middle'
							});
							vm.ViewFans();
						} else {
							api.toast({
								msg: '取消失败',
								duration: 2000,
								location: 'middle'
							});
						}

					} else {
						api.toast({
							msg: '网络错误',
							duration: 2000,
							location: 'middle'
						});

					}
				});
			}

		}
	})

	apiready = function() {
		time = api.pageParam.time;
		id = api.pageParam.id;
		loading();
		vm.ViewFans();
		//刷新
		api.setRefreshHeaderInfo({
			loadingImg: 'widget://image/refresh.png',
			bgColor: '#444',
			textColor: '#fff',
			textUp: '释放立即刷新...',
			textLoading: '加载中···',
			showTime: false
		}, function(ret, err) {
			//在这里从服务器加载数据，加载完成后调用api.refreshHeaderLoadDone()方法恢复组件到默认状态
			vm.ViewFans();
			api.refreshHeaderLoadDone();
		});
	}
</script>
