<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>我的粉丝</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<link rel="stylesheet" href="../../css/api.css">
	<link rel="stylesheet" href="../../css/common.css">
	<link rel="stylesheet" href="../../icon/iconfonts/iconfont.css">
	<link rel="stylesheet" href="../../css/7startAct7.css">
	<link rel="stylesheet" href="../../css/loading.css">
	<style media="screen">
			.NoAct{padding: 20px 10px; color: #333; font-size: 16px;}
	</style>
</head>

<body>
	<div class="startAct7-con" id="app">
		<div class="flowers-cons">
			<h6 class="haveflows">拥有粉丝数<span>(人)</span></h6>
			<h6 class="flowers">{{}}</h6>
			<ul class="flowers-ul hide">
				<li>
					<p>日最高增长</p>
					<p class="peoples">
						<span v-if="data2.max_growth == null">0</span>
						<span v-else>{{data2.max_growth}}</span>人
					</p>
				</li>
				<li>
					<p>粉丝收益</p>
					<p class="peoples"><span>{{}}</span>学分</p>
				</li>
				<li>
					<p>本周增加粉丝</p>
					<p class="peoples"><span>{{data2.count}}</span>人</p>
				</li>
			</ul>
			<p class="flower-btn"><button onclick="go_FansDetail()">粉丝明细</button></p>
		</div>

		<h6 class="listHead">粉丝列表</h6>
		<div v-if="status == '1'">
				<div class="flower-list hide" v-for="v in data">
			<img class="fl circles" :src="v.headimgurl" v-if="v.headimgurl">
			<img class="fl circles" src="../../image/head01.png" v-else>
			<span class="fl name" v-if="v.user_name !== null">{{v.nickname}}</span>

			<!-- 	relation_type 1是显示关注 0是互相关注 -->
			<span class="fr care" @click="follow(v.user_id)" v-if="v.relation_type == 1">+关注</span>
			<span class="fr care bg-care" @click="cancel_follow(v.user_id)" v-if="v.relation_type == 0">已关注</span>
		</div>
    </div>
		<!-- 没有粉丝 -->
		<div class="NoAct" v-if="status == '0'">抱歉，您暂时还没有粉丝！</div>
	</div>


</body>

</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/my.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript">
	var id,token;
	var vm = new Vue({
		el: '#app',
		data: {
			data: [],
			data2:[],
			status:''
		},
		methods: {
			seeFans() { //查看用户粉丝
				api.ajax({
					url: serverurl,
					method: 'get',
					dataType: 'json',
					data: {
						values: {
							type: '100010',
							uid: id,
							token:token
						}
					}
				}, function(ret, err) {
					alert(JSON.stringify(ret))
					if (ret) {
            vm.status = ret.status;
						if (ret.status == '1') {
							vm.data = ret.data;
						}

					} else {
						 api.toast({
						     msg: '网络错误',
						     duration: 2000,
						     location: 'bottom'
						 });

					}
				});
			},

			FansDetail() { //粉丝明细
				api.ajax({
					url: serverurl,
					method: 'get',
					dataType: 'json',
					data: {
						values: {
							type: '10024',
							user_id: id,
							token:token
						}
					}
				}, function(ret, err) {

					if (ret) {
						if (ret.status == '1') {
							vm.data2 = ret.data;
						}

					} else {
						api.toast({
							msg: '网络错误',
							duration: 2000,
							location: 'middle'
						});

					}
				});
			},

			follow(follower_id) {//用户关注/粉丝
				api.ajax({
					url: serverurl,
					method: 'get',
					dataType: 'json',
					data: {
						values: {
							type: '10004',
							uid: id,
							follower_id:follower_id,
							token:token
						}
					}
				}, function(ret, err) {

					if (ret) {
						if (ret.status == '1') {
								api.toast({
								    msg: '关注成功',
								    duration: 2000,
								    location: 'middle'
								});
								vm.seeFans();
						}else{
							api.toast({
									msg: '关注失败',
									duration: 2000,
									location: 'middle'
							});
						}

					} else {
						api.toast({
							msg: '网络错误',
							duration: 2000,
							location: 'middle'
						});

					}
				});
			},

			cancel_follow(follower_id) {//取消关注
				api.ajax({
					url: serverurl,
					method: 'get',
					dataType: 'json',
					data: {
						values: {
							type: '100011',
							uid: id,
							follower_id:follower_id,
							token:token
						}
					}
				}, function(ret, err) {

					if (ret) {
						if (ret.status == '1') {
								api.toast({
								    msg: '取消关注',
								    duration: 2000,
								    location: 'middle'
								});
								vm.seeFans();
						}else{
							api.toast({
									msg: '取消失败',
									duration: 2000,
									location: 'middle'
							});
						}

					} else {
						api.toast({
							msg: '网络错误',
							duration: 2000,
							location: 'middle'
						});

					}
				});
			}

		}
	})

	apiready = function() {
		id = api.pageParam.id;
		token = $api.getStorage('token');

		loading();
		$api.css($api.dom('#loading'), 'display:block');
		vm.seeFans();
		vm.FansDetail();
		$api.css($api.dom('#loading'), 'display:none');
		//刷新
		api.setRefreshHeaderInfo({
			loadingImg: 'widget://image/refresh.png',
			bgColor: '#444',
			textColor: '#fff',
			textUp: '释放立即刷新...',
			textLoading: '加载中···',
			showTime: false
		}, function(ret, err) {
			//在这里从服务器加载数据，加载完成后调用api.refreshHeaderLoadDone()方法恢复组件到默认状态
			$api.css($api.dom('#loading'), 'display:block');
			vm.seeFans();
			vm.FansDetail();
			$api.css($api.dom('#loading'), 'display:none');
			api.refreshHeaderLoadDone();
		});
	}

	//打开我的粉丝窗口
	function go_FansDetail() {
		api.openWin({
			name: 'FanDetails_title',
			url: './FanDetails_title.html',
			pageParam: {
				id: id
			}
		});
	}
</script>
